.mrg-r-10{margin-right: 10px;}
.mrg-l-10{ margin-left: 10px;}

.img-view{ float: left ;max-width:200px; height:auto; padding:2px; border:1px solid #ddd; margin:2px;
}

.croppie-container{ overflow: auto !important;}
.remove-crop-image{position: absolute; top: 5px; left: 5px; font-size: 15px;}
.previewImage{ position: relative;}
.previewImage #imgpreview,.previewImage .imgpreview{ max-width:200px; height:auto; clear:both; display:block; padding:2px; border:1px solid #ddd; margin-bottom:10px; }
.previewImage .crop-btn{ position: absolute; bottom: 0; left: 5px; display: none}