﻿
/*
Item Name: jQuery Carousel Evolution
Author: Mapalla
Author URI: http://codecanyon.net/user/Mapalla
Version: 1.0
*/

/* _______________________________________________ */

/* CONTAINER */
/* _______________________________________________ */


.carousel-prog {
  position : relative;
  margin : 0 auto;
  width : 100%;
  height : auto;
  border : none;
  overflow : visible;
}

/* _______________________________________________ */

/* SLIDES */
/* _______________________________________________ */

/* slide container */

.carousel-prog .slides {
  margin : 0;
  padding : 0;
  border : none;
  list-style : none;
  position : relative;
  overflow : visible;
}

/* slide item */

.carousel-prog .slides .slideItem {
  position : absolute;
  cursor : pointer;
  padding : 0;
  margin : 0;
  border : none; box-shadow: 0 16px 44px 2px rgba(0, 0, 0, .60), 0 6px 60px 5px rgba(0, 0, 0, 0.2), 0 8px 10px -5px rgba(0, 0, 0, .4);
}

.carousel-prog .slides .slideItem a {
  display: block;
  text-decoration : none;
  margin : 0;
  padding : 0;
  border : none;
  outline : none;
}

.carousel-prog .slides .slideItem .play { background : url("../images/play2.png") no-repeat center;  float: right; width: 100%; height: 80%; position: absolute }

.carousel-prog .slides .slideItem img {
  margin : 0;
  padding : 0;
  border : none;
  width : 100%;
  height : 100%;
}

.carousel-prog .slides .slideItem .description {
  width : 100%;
  height : 54px;
}

/* _______________________________________________ */

/* DIRECTION BUTTON */
/* _______________________________________________ */


.carousel-prog .nextButton {
  position : absolute;
  right : 10px;
  top : 85px;
  width : 35px;
  height : 35px;
  background : url("../images/next_button.png") no-repeat center;
  cursor : pointer;
  z-index : 9999;
}

.carousel-prog .prevButton {
  position : absolute;
  left : 10px;
  top : 85px;
  width : 35px;
  height: 35px;
  background : url("../images/prev_button.png");
  cursor : pointer;
  z-index : 9999;
}

/* _______________________________________________ */

/* NAVIGATION BUTTON */
/* _______________________________________________ */

/* buttons container */

.carousel-prog .buttonNav {
  position : relative;
  margin : 0 auto;
  z-index : 999;
}

/* numbers */

.carousel-prog .buttonNav .numbers {
  position : relative;
  float : left;
  margin : 5px;
  color : #828282;
  cursor : pointer;
  font-weight : bold;
  text-decoration : none;
  font-size : 1em;
  font-family : Arial, Verdana;
}

.carousel-prog .buttonNav .numbers:hover {
  color: #000;
  text-decoration : underline;
}

.carousel-prog .buttonNav .numberActive {
  background : none;
  color : #000;
  cursor : default;
}

/* bullets */

.carousel-prog .buttonNav .bullet {
  position : relative;
  float : left;
  width : 16px;
  height : 16px;
  background : url(../images/Bullet-White.png) no-repeat center;
  margin : 5px;
  float : left;
  cursor : pointer;
}

.carousel-prog .buttonNav .bullet:hover { background : url(../images/Bullet-Black.png) no-repeat center; }

.carousel-prog .buttonNav .bulletActive {
  background : url(../images/Bullet-Black.png) no-repeat center;
  cursor : default;
}

/* ____________________________________________________________ */

/* VIDEO */
/* ____________________________________________________________ */


.carousel-prog .slides .videoOverlay { background : url("../images/play2.png") no-repeat center; /* play button */ }

.carousel-prog .slides .spinner { /*background : #000 url("../images/loading.gif") no-repeat center;*/ /* video preloader */ }

/* _____________________________ *

/* SHADOW */
/* _____________________________ */


.carousel-prog .shadow {
  width : 100%;
  height : 82px;
}

.carousel-prog .shadow .shadowLeft {
  background : url("../images/shadowLeft.png") no-repeat;
  width : 100px;
  height : 82px;
  /* fix png problems in ie */
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowLeft.png, sizingmethod=scale)"; /* IE8 */
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowLeft.png, sizingmethod=scale);   /* IE6 & 7 */
}

.carousel-prog .shadow .shadowMiddle {
  height : 82px;
  background: url("../images/shadowTile.png") repeat-x;
  /* fix png problems in ie */
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowTile.png, sizingmethod=scale)"; /* IE8 */
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowTile.png, sizingmethod=scale);   /* IE6 & 7 */
}

.carousel-prog .shadow .shadowRight {
  width : 100px;
  height : 82px;
  background: url("../images/shadowRight.png") no-repeat;
  /* fix png problems in ie */
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowRight.png, sizingmethod=scale)"; /* IE8 */
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/shadowRight.png, sizingmethod=scale);   /* IE6 & 7 */
}

/* ____________________________________________________________ */

/* REFLECTION GRADIENT */
/* ____________________________________________________________ */

/* gradient color for Opera */

.carousel-prog .gradient { background-image : url(../js/gradient.svg); }
