/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:100%;
}
#media-carousel {
  height:420px;
  width:100%;
  position:relative;
  font-size:12px;

}

.carousel-image {
  border:0;
  display:block;
}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  cursor:pointer;
  box-shadow: 0 16px 44px 2px rgba(0, 0, 0, .60), 0 6px 60px 5px rgba(0, 0, 0, 0.2), 0 8px 10px -5px rgba(0, 0, 0, .4);
}
.carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  width:100%;
  background:url('../images/descbg.png') repeat-y right;
  right: 0; padding: 20px 0;
}
.carousel-feature .carousel-caption span {
  margin:0;
  text-align: right;
  font-size:20px;
  color:white;
  padding: 0 20px;
  width: 70%;
  float: right;
  
}

.carousel-feature .play {
  position:absolute;
  bottom:155px;
  width:100%;
  right: 275px;
}

.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#000;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#000;
}

#carousel-left {
  position:absolute;
  bottom:33px;
  left:70px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:33px;
  right:70px;
  cursor:pointer;
}