@charset "utf-8";
/* CSS Document */
@font-face {font-family: 'Hacen Tunisia'; src: url(../myfonts/Hacen Tunisia.eot); src: url(../myfonts/Hacen Tunisia.eot?#iefix) format('embedded-opentype'),url(../myfonts/Hacen Tunisia.woff2) format('woff2'),url(../myfonts/Hacen Tunisia.woff) format('woff'),url(../myfonts/Hacen Tunisia.ttf) format('truetype');}
@font-face {font-family: 'Hacen Tunisia Lt'; src: url(../myfonts/Hacen Tunisia Lt.eot); src: url(../myfonts/Hacen Tunisia Lt.eot?#iefix) format('embedded-opentype'),url(../myfonts/Hacen Tunisia Lt.woff2) format('woff2'),url(../myfonts/Hacen Tunisia Lt.woff) format('woff'),url(../myfonts/Hacen Tunisia Lt.ttf) format('truetype');}
@font-face {font-family: 'HACEN TUNISIA BOLD'; src: url(../myfonts/HACEN TUNISIA BOLD.eot); src: url(../myfonts/HACEN TUNISIA BOLD.eot?#iefix) format('embedded-opentype'),url(../myfonts/HACEN TUNISIA BOLD.woff2) format('woff2'),url(../myfonts/HACEN TUNISIA BOLD.woff) format('woff'),url(../myfonts/HACEN TUNISIA BOLD.ttf) format('truetype');}

@font-face {font-family: 'DroidKufi-Regular'; src: url(../myfonts/DroidKufi-Regular.eot); src: url(../myfonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),url(../myfonts/DroidKufi-Regular.woff2) format('woff2'),url(../myfonts/DroidKufi-Regular.woff) format('woff'),url(../myfonts/DroidKufi-Regular.ttf) format('truetype');}
@font-face {font-family: 'DroidKufi-Bold'; src: url(../myfonts/DroidKufi-Bold.eot); src: url(../myfonts/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),url(../myfonts/DroidKufi-Bold.woff2) format('woff2'),url(../myfonts/DroidKufi-Bold.woff) format('woff'),url(../myfonts/DroidKufi-Bold.ttf) format('truetype');}

@font-face {font-family: 'HelveticaNeueLTArabic-Roman'; src: url(../myfonts/HelveticaNeueLTArabic-Roman.eot); src: url(../myfonts/HelveticaNeueLTArabic-Roman.eot?#iefix) format('embedded-opentype'),url(../myfonts/HelveticaNeueLTArabic-Roman.woff2) format('woff2'),url(../myfonts/HelveticaNeueLTArabic-Roman.woff) format('woff'),url(../myfonts/HelveticaNeueLTArabic-Roman.ttf) format('truetype');}
@font-face {font-family: 'HelveticaNeueLTArabic-Light'; src: url(../myfonts/HelveticaNeueLTArabic-Light.eot); src: url(../myfonts/HelveticaNeueLTArabic-Light.eot?#iefix) format('embedded-opentype'),url(../myfonts/HelveticaNeueLTArabic-Light.woff2) format('woff2'),url(../myfonts/HelveticaNeueLTArabic-Light.woff) format('woff'),url(../myfonts/HelveticaNeueLTArabic-Light.ttf) format('truetype');}
@font-face {font-family: 'HelveticaNeueLTArabic-Bold'; src: url(../myfonts/HelveticaNeueLTArabic-Bold.eot); src: url(../myfonts/HelveticaNeueLTArabic-Bold.eot?#iefix) format('embedded-opentype'),url(../myfonts/HelveticaNeueLTArabic-Bold.woff2) format('woff2'),url(../myfonts/HelveticaNeueLTArabic-Bold.woff) format('woff'),url(../myfonts/HelveticaNeueLTArabic-Bold.ttf) format('truetype');}

@font-face {font-family: 'TheSansArabic-Bold'; src: url(../myfonts/TheSansArabic-Bold.eot); src: url(../myfonts/TheSansArabic-Bold.eot?#iefix) format('embedded-opentype'),url(../myfonts/TheSansArabic-Bold.woff2) format('woff2'),url(../myfonts/TheSansArabic-Bold.woff) format('woff'),url(../myfonts/TheSansArabic-Bold.ttf) format('truetype');}
@font-face {font-family: 'TheSansArabic-SemiBold';  src: url(../myfonts/TheSansArabic-SemiBold.eot); src: url(../myfonts/TheSansArabic-SemiBold.eot?#iefix) format('embedded-opentype'),url(../myfonts/TheSansArabic-SemiBold.woff2) format('woff2'),url(../myfonts/TheSansArabic-SemiBold.woff) format('woff'),url(../myfonts/TheSansArabic-SemiBold.ttf) format('truetype');}
@font-face {font-family: 'TheSansArabic-ExtraBold';  src: url(../myfonts/TheSansArabic-ExtraBold.eot); src: url(../myfonts/TheSansArabic-ExtraBold.eot?#iefix) format('embedded-opentype'),url(../myfonts/TheSansArabic-ExtraBold.woff2) format('woff2'),url(../myfonts/TheSansArabic-ExtraBold.woff) format('woff'),url(../myfonts/TheSansArabic-ExtraBold.ttf) format('truetype');}

@font-face {font-family: 'FbTypograph-Light'; src: url(../myfonts/FbTypograph-Light.eot); src: url(../myfonts/FbTypograph-Light.eot?#iefix) format('embedded-opentype'),url(../myfonts/FbTypograph-Light.woff2) format('woff2'),url(../myfonts/FbTypograph-Light.woff) format('woff'),url(../myfonts/FbTypograph-Light.ttf) format('truetype'); font-weight:normal;}
@font-face {font-family: 'FbTypograph-Bold'; src: url(../myfonts/FbTypograph-Bold.eot); src: url(../myfonts/FbTypograph-Bold.eot?#iefix) format('embedded-opentype'),url(../myfonts/FbTypograph-Bold.woff2) format('woff2'),url(../myfonts/FbTypograph-Bold.woff) format('woff'),url(../myfonts/FbTypograph-Bold.ttf) format('truetype'); font-weight:bold;}
@font-face {font-family: 'FbTypographEng-Bold'; src: url(../myfonts/FbTypographEng-Bold.eot); src: url(../myfonts/FbTypographEng-Bold.eot?#iefix) format('embedded-opentype'),url(../myfonts/FbTypographEng-Bold.woff2) format('woff2'),url(../myfonts/FbTypographEng-Bold.woff) format('woff'),url(../myfonts/FbTypographEng-Bold.ttf) format('truetype'); font-weight:bold;}

@font-face {font-family: '29ltbukra'; src: url(../myfonts/29ltbukraregular.eot); src: url(../myfonts/29ltbukraregular.eot?#iefix) format('embedded-opentype'),url(../myfonts/29ltbukraregular.woff) format('woff'),url(../myfonts/29ltbukraregular.ttf) format('truetype'); font-weight:normal;}
@font-face {font-family: '29ltbukra'; src: url(../myfonts/29ltbukrabold.eot); src: url(../myfonts/29ltbukrabold.eot?#iefix) format('embedded-opentype'),url(../myfonts/29ltbukrabold.woff) format('woff'),url(../myfonts/29ltbukrabold.ttf) format('truetype'); font-weight:bold;}

@font-face {font-family: 'GretaArabic-BoldItalic'; src: url(../myfonts/GretaArabic-BoldItalic.eot); src: url(../myfonts/GretaArabic-BoldItalic.eot?#iefix) format('embedded-opentype'),url(../myfonts/GretaArabic-BoldItalic.woff) format('woff'),url(../myfonts/GretaArabic-BoldItalic.ttf) format('truetype'); font-weight:normal;}

@font-face {font-family: 'FbTypograph-Light'; src: url(../myfonts/qewju8trh39emdw.eot); src: url(../myfonts/qewju8trh39emdw.eot?#iefix) format('embedded-opentype'),url(../myfonts/qewju8trh39emdw.woff) format('woff'),url(../myfonts/qewju8trh39emdw.ttf) format('truetype'); font-weight:normal;}

@font-face {font-family: 'DGL Tracklin'; src: url(../myfonts/xfq5rlqht6hfinv.eot); src: url(../myfonts/xfq5rlqht6hfinv.eot?#iefix) 
format('embedded-opentype'),url(../myfonts/xfq5rlqht6hfinv.woff) format('woff'),url(../myfonts/xfq5rlqht6hfinv.ttf) format('truetype'); font-weight:normal;}
@font-face {font-family: 'DGL Tracklin'; src: url(../myfonts/rlneabhshapqmir.eot); src: url(../myfonts/rlneabhshapqmir.eot?#iefix) 
format('embedded-opentype'),url(../myfonts/rlneabhshapqmir.woff) format('woff'),url(../myfonts/rlneabhshapqmir.ttf) format('truetype'); font-weight:bold;}

@font-face {font-family: 'bokra'; src: url(../myfonts/font-Regular.eot); src: url(../myfonts/font-Regular.eot?#iefix) 
format('embedded-opentype'),url(../myfonts/font-Regular.woff) format('woff'),url(../myfonts/font-Regular.ttf) format('truetype'); font-weight:normal;}
@font-face {font-family: 'bokra'; src: url(../myfonts/font-Bold.eot); src: url(../myfonts/font-Bold.eot?#iefix) 
format('embedded-opentype'),url(../myfonts/font-Bold.woff) format('woff'),url(../myfonts/font-Bold.ttf) format('truetype'); font-weight:bold;}
