@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Hacen Tunisia';
	src: url('myfonts/Hacen Tunisia.eot');
	src: url('myfonts/Hacen Tunisia.eot?#iefix') format('embedded-opentype'),
		 url('myfonts/Hacen Tunisia.woff2') format('woff2'),
		 url('myfonts/Hacen Tunisia.woff') format('woff'),
		 url('myfonts/Hacen Tunisia.ttf') format('truetype');}

@font-face {
  font-family: 'Hacen Tunisia Lt';
  src: url('myfonts/Hacen Tunisia Lt.eot');
  src: url('myfonts/Hacen Tunisia Lt.woff2') format('woff2'),
       url('myfonts/Hacen Tunisia Lt.eot?#iefix') format('embedded-opentype'),
       url('myfonts/HacenTunisiaLt.woff') format('woff'),
       url('myfonts/HacenTunisiaLt.ttf') format('truetype'),
       url('myfonts/HacenTunisiaLt.svg#HacenTunisiaLt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'HACEN TUNISIA BOLD';
	src: url('myfonts/HACEN TUNISIA BOLD.eot');
	src: url('myfonts/HACEN TUNISIA BOLD.eot?#iefix') format('embedded-opentype'),
		 url('myfonts/HACEN TUNISIA BOLD.woff2') format('woff2'),
		 url('myfonts/HACEN TUNISIA BOLD.woff') format('woff'),
		 url('myfonts/HACEN TUNISIA BOLD.ttf') format('truetype');
		 }

/* default */
.row {margin-right: -10px;margin-left: -10px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 15px;padding-right: 15px;}

.img-rounded {border-radius: 3px;}

.row2 {margin-right: -3px;margin-left: -3px;}

.col2 {padding-left: 5px;padding-right:5px;}
.col-r { width: 820px}
.col-l { width: 336px;}

.no-padding{ padding-right:0; padding-left:0;}
.no-pd-left{ padding-left:0;}
.no-pd-right{ padding-right:0;}

h1{font-size:19px;line-height:150%; margin:0 0 5px;font-family: 'HACEN TUNISIA BOLD';}
h2{font-size:18px;line-height:150%; margin:0 0 4px;font-family: 'HACEN TUNISIA BOLD';}
h3{font-size:16px;line-height:150%; margin:0 0 3px;font-family: 'HACEN TUNISIA BOLD';}
h4{font-size:14px;line-height:150%; margin:0 0 3px;font-family: 'HACEN TUNISIA BOLD';}

a:hover, a:focus, a{ text-decoration:none;color: #000;}

.mrg-btm-40{margin-bottom:40px;}
.mrg-btm-30{margin-bottom:30px;}
.mrg-btm-20{margin-bottom:20px;}
.mrg-btm-15{margin-bottom:15px;}
.mrg-btm-10{margin-bottom:10px;}
.mrg-btm-5{margin-bottom:5px;}
.mrg-top-5{margin-top:5px;}
.mrg-top-10{margin-top:10px;}
.mrg-top-15{margin-top:15px;}
.mrg-top-20 { margin-top: 20px;}
.mrg-top-30 { margin-top: 30px;}
.mrg-right-2{ margin-right: 2px;}

.pad-top-10{padding-top:10px;}
.pad-top-15{padding-top:15px;}
.pad-top-20{padding-top:20px;}
.pad-top-30{padding-top:30px;}
.pad-btm-10{padding-bottom:10px;}
.pad-btm-15{padding-bottom:15px;}
.pad-btm-20{padding-bottom:20px;}

.bnr_border { overflow: hidden}

.bnr_border img { width: 100%}

.shadow {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
}

.block{ background: #fff; float: right; width: 100%; padding: 15px}

.gray-block{ background: #2a3839; padding: 10px; }

p{ line-height:145%;margin: 0 0 10px 0; font-size: 14px;}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.hidden-xxs{ display:block;}
.visible-xxs { display: none;}

.gray { background: #cbc9ca;}
.white { background: #fff; border: 1px #ccc solid}

/* default for this site */
body{font-family: 'Hacen Tunisia Lt';font-size:14px; padding:0; background: #f3f3f3; overflow-x: hidden;}
.container { padding-right: 15px; padding-left: 15px;}

.topbar{ width: 100%; float: right; background: #2b383a; color: #fff; }
.topbar .social a{ color: #fff; margin-right: 10px}
.topbar a.contact{ background: #000; padding: 5px 10px; color: #afa906 }

.bnr-container{ float: right; width: 100%; background: #f3f3f3; height: auto; }

.header{ width: 100%;  padding: 10px 0 0 0; background: #fff; float: right; }
.header.red{ background: #cb2321; }



.search {}
.search-btn{background:#2b383a ;}
.search-input{  float:left; border:1px solid #2b383a;  background:#2b383a; color: #fff; width: 100px; }


.logo { width: 146px;}



.navbar-default{border:0; border-radius: 0; background: transparent; margin-bottom: 0; margin-top: 10px;  }

.navbar-default .container-fluid, .navbar-default .navbar-collapse{ padding:0;}
.navbar-nav>li { width: 10%; border-bottom: 0; border-right: 0; font-family: 'HACEN TUNISIA BOLD'; font-size: 16px; }
.navbar-nav>li.active{ border-bottom:3px solid #cb2321;}
.navbar-nav {margin: 0;width: 100%;}
.navbar-default .navbar-nav>li>a {padding: 5px;color:#353536; text-align: center; width: 100%}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{  color:#cb2321; border-bottom:3px solid #cb2321;}

.red .navbar-default .navbar-nav>li>a{ color: #fff; }

.main-slider { width: 100%;  background: #cb2321; height: 370px; float: right; }
.main_news{ float:right; width:100%; position: relative; }

.main_news .indicators { width: 570px;  left: 0; position: absolute; height: 50px; bottom: 0}
.main_news .indic { background: #a21c1a; width: 570px;  left: 0; position: relative; height: 50px; color:#fff;}

.main_news .carousel{ }
.main_news .carousel-inner { width: 100%;background: #cb2321; height: 370px;}
.main_news .carousel-inner>.item { }

.main_news .carousel-inner>.item .img{ border-left: 2px solid #e28480}
.main_news .carousel-indicators{ right: 0; width: 570px; padding-right: 0; margin-left: 0;  bottom: 0 }
.main_news ol { margin-bottom: 0; bottom: 0;}
.main_news .carousel-indicators li{ border:0; width:110px;cursor:pointer; position: relative; height:61px; border-radius: 0 ;text-indent: inherit; line-height: 75px; background: url('images/border-nav.png') no-repeat left 75%;     font-size: 22px;}
.main_news .carousel-indicators li.last{background: transparent;}
.main_news .carousel-indicators li:last-child{border-left: 0;}
.main_news .carousel-indicators .active { background: url(images/arrow.png) no-repeat; border-radius: 0; }


.main_news .carousel .title { float: right; width: 100%; color: #fff; padding: 15px;    font-family: 'HACEN TUNISIA BOLD'; margin-top: 45px; font-size: 28px }
.main_news .carousel .details { float: right; color: #fff; width: 90%; font-size: 16px; padding: 0 15px;}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.bnrslider .selected img {
  opacity:0.5;
}

.bnrslider .carousel {
  background: #98221d; border-radius: 40px; height: 200px
}
.bnrslider .carousel-inner{
  width: 88%; margin: 10px 6%; height: 200px;
}

.bnrslider .carousel-control{
      width: 50px; height: 81px; background: transparent; top: 45px; margin: 10px; opacity: 1;
}
.bnrslider .carousel-inner>.item{
  margin-top: 10px; border: 3px #b93631 solid
}
.bnrslider .list-inline>li{ width: 139px; height:64px;  border: #eee solid 1px; padding: 2px}


.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}


.media{ float:right; width:100%; }
.media .item { color:#fff; overflow: hidden; margin: 0 !important; float: right; width: 100%; margin-bottom: 20px}

.media .play{ position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 30px;
    background-image: url(images/play.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 189px;
    height: 189px;
    background-color: transparent; }

.media .item-title{ position: absolute; bottom: 0; background: #0000008c; color: #fff; text-align: right; padding: 15px; width: 100%; font-size: 18px; right: 0; }

.media .item .item-title.small{ font-size: 12px  }
.media .video-content {position: absolute;top: 0;display:none;}

.media .cat-item .play{ top: 45%; width: 100px; height: 100px; background-size: contain;}

.visual-video{ float: right; height: 245px; overflow: hidden; }

.main-video{ position: relative; }
.main-video img{ width: 100%;}
.main-video .top-title a{ position: absolute; top: 10px; right: 10px; background: #cb2321; color: #fff; font-family: 'HACEN TUNISIA BOLD'; font-size: 17px; padding: 5px 10px }
.cat-index { float: right; width: 100%; height: auto; padding: 0 20px 15px 20px;}
.cat-index:before{ content: ""; height: 100px; width: 8px; background: #cb2321; top: 0; right: 0; position: absolute; }

.cat-title{ float:right; width:100%; margin: 10px 0 2px 0;color: #cb2321; font-family: 'HACEN TUNISIA BOLD';}
.cat-title a { float: right; width: 100%; color: #ba140d; text-align: right; font-size: 24px}



.cat-title2{ float:right; width:100%; border-bottom: 5px #b21914 solid}
.cat-title2 a { float: right; width: 100%; color: #b21914; line-height: 220%; text-align: center; font-size: 16px}

.cat-news{ float:right; min-height: 171px; overflow: hidden; }
.cat-news .title{font-size: 16px;font-family: 'HACEN TUNISIA BOLD'; margin: 10px 0; color: #2b383a}

.cat-news img{  margin-bottom: 9px;}

.cat-index .spc { width: 1px; height: 100%; float: right; background:#cecece }

.cat-subtitle{ float:right; width:auto; color: #cb2321; font-family: 'HACEN TUNISIA BOLD';}
a.cat-subtitle  { float: right; width: auto; color: #ba140d; text-align: right; font-size: 22px}

.social-main .title{ font-size: 18px; color: #2b383a; font-family: 'HACEN TUNISIA BOLD';}

.cat-5:before{ display: none;

}
.cat-5 .col-md-25{ width: 20%; }

.cat-5 .author{ font-size: 14px }
.cat-5 .author span{ color: #cb2321 }

.cat-5 .cat-title a{ width: auto; }
.cat-5 .send{ background: #cb2321; border-radius: 0; color: #fff; margin-right: 20px }

.one-3 .cat-news{ margin-left: 20px; min-height: unset; }
.one-3 .item:before{
  content: ""; background: #cb2321; width: 10px; height: 10px; right: 0; top: 15%; position: absolute;
}
.one-3 .item{ border-bottom: 1px solid #e6e6e6 }
.one-3 .item:last-child { border: 0; }
.one-3 .title{ margin-right: 10px; margin-top: 0; margin-bottom: 5px}

.post-cat{ background: #f8f8f8; float: right; width: 100%; }
.post-cat .cat-title { width: 100%; color: #cb2321; line-height: 3.2; font-size: 20px;font-family: 'HACEN TUNISIA BOLD';}
.post-cat.radio .cat-title:before{ content: ""; position: absolute; width: 85%; height: 8px; background: #cb2321 }

.post-cat .cat-title { width: 100%; color: #cb2321; line-height: 3.2; font-size: 20px;font-family: 'HACEN TUNISIA BOLD';}
.post-cat.music{ background: transparent; }
.post-cat.music .cat-title:before{ content: ""; position: absolute; width: 85%; height: 8px; background: #8ac141 }
.post-cat.music .cat-title{ color: #8ac141; line-height: 2.8 }
.music .title{ font-family: 'HACEN TUNISIA BOLD'; color: #000 }
.music .item{ float: right; width: 100%; border-bottom: 1px solid #c1c1c1 }
.music .item a { color: #c1c1c1 }
.music .item:last-child{ border-bottom: 0 }

.post-cat.radio{ background: transparent; }

.gallery{ padding: 25px }
.gallery .item{ margin: 0 5px }


.secondbg { width: 100%; background: url('images/secondbg.png') repeat-x top #fff;}
.secondbg .cats{ width: 100%; height: 236px;}


.satera{ float:right; background: url('images/satera.png') no-repeat top center; background-size: cover; font-size:14px; padding: 9%	}

.site-map{ float:right; width:100%;  margin: 0}
.site-map .title{float:right; width:100%; margin-bottom:10px; font-size: 20px; font-family: 'HACEN TUNISIA BOLD'; }
.site-map .cat-title{ font-size: 22px }
.extra{float:right; width:100%;  background: #fff;}
.extra .main-title{ width: 100%; float: right; text-align: center; color: #cb2321;  font-family: 'HACEN TUNISIA BOLD'; font-size: 17px; margin: 10px 0 }
.extra .main-title:before{ content: ""; background: #cb2321; height: 8px; width: 10%; top: 0; position: absolute; right: 45% }
.extra .extra-carousel{float:right; width:100%; position: relative;}
.extra .extra-carousel .item{float: left;}

.cities{  }
.cities .item{ margin-bottom: 2px; color: #fff; text-align: center; font-size: 17px; padding: 5px;}
.cities .item a{ color: inherit;}

.horos { float: right; width: 100%; background: url('images/horobg.png') no-repeat center; background-size: cover; padding: 30px 0;  }
.horos .title{ color: #fff; text-align: center; font-family: 'HACEN TUNISIA BOLD'; font-size: 24px;}
.horos .item{ color: #fff; text-align: center; }
.horos img{ max-height: 57px; height: 57px }

.ehda { float: right; width: 100%; background: #981b19; padding: 10px 0 0 0; color: #fff }
.ehda .send{ background: #fff; color: #971b19;  border-radius: 0; float: left; }
.ehda .bdy{ float: right; background: #822021; width: 100%; padding: 20px; margin-bottom: 20px; position: relative; overflow: hidden; }
.ehda .carousel-inner{ position: unset;  }
.ehda .arrows{  background: #702424; position: absolute; width: 20%; left: -20px; bottom: -40px; height: 30px;}
.ehda .carousel-control{ width: auto; left: 0;  }
.ehda .carousel-control .fa { font-size: 25px }
.ehda .carousel-control.right{bottom: 0; left:25px; right: unset; background: transparent;}
.ehda .carousel-control.left{ background: transparent; left: 10px}
.ehda-modal { color: #971b19 }
.ehda-modal .btn.add{ background: #971b19; color: #fff; float: left;  }

.embed-responsive.embed-responsive-16by9 { padding-bottom: 52%;}

.index-video { background: #fff; padding-top: 15px; height: 100%}
.index-video h1{ font-size:18px;text-align: center }
.index-video p{ color:#555; font-size:13px; line-height: 25px}
.index-video h1.title{ font-size:14px;}

.index-video .visual{ float:right;  position:relative; }
.index-video .visual .txt{ position:absolute; padding:10px; color:#fff; background:rgba(0,0,0, 0.5); bottom:0; width:100%;}
.index-video .visual .video{ position: absolute; color:#fff; font-size:50px; margin:-25px -25px 0 0; top:50%; right:50%;  opacity:0.7;}
.index-video .visual:hover .video{ opacity:1;}
.index-video .visual .video.big{transform: scale(1.5);}

.modal-body .video { float: right; width: 100%; height: 400px;}
.modal-footer .show-all { background: #b22923; color:#fff; }

.poll{float: right; font-size: 18px; font-family: 'HACEN TUNISIA BOLD'; }
.poll .title { width: 100%; color: #f27224; line-height: 3.2; font-size: 20px;font-family: 'HACEN TUNISIA BOLD';}
.poll .title:before{ content: ""; position: absolute; width: 85%; height: 8px; background: #f27224 }
.poll .sawet-btn{ background: #f27224; color: #fff; float: right; font-size: 14px; border: 0; border-radius: 0; font-family: 'Hacen Tunisia Lt'; padding: 5px 10px; }

.progress-bar-info{ background-color: #cb2321; }
.col-widget { width: 86%; right: 7%}

.radio, .checkbox {min-height: 17px;margin-top: 5px;margin-bottom: 5px; }
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]{margin-right:-20px;}
.sawet{ border-radius:3px; padding:2px 18px; color:#fff; background:#0e5c80;}

.cat-item{}
.cat-item .title{ color: #cb2322; font-size: 20px; font-family: 'HACEN TUNISIA BOLD';}

footer{ float:right; width:100%; padding:10px 0;font-family:tahoma; background: #2b383a; color: #fff}
footer a{ margin-right:10px; color: #fff; font-family: 'Hacen Tunisia Lt'; font-size: 17px}
footer .copy { color: #b3b3b3; font-size: 12px; line-height: 3}
footer .copy:before{ content: ""; position: absolute; width: 100%; height: 1px; background: #202a2c;}
footer .social a{ background: #202a2c; border-radius: 50%; padding: 5px 10px; }
footer a:hover{ color: inherit; }

.cube { width: 307px; height: 259px;}
.cube img{ float:left; width: 100%;}

.cube2 { width: 307px; height: 140px;}
.cube3 { width: 307px; height: 595px;}

.art-date {color: #5B5B5B;}
.cat .title{padding: 5px; border-bottom: 3px #b21914 solid; width: 100%; float: right}
.cat .des{font-size: 14px; font-family:tahoma;}
.cat .border{ float:right; border: 1px solid #ccc ; padding:10px; overflow:hidden;}
.cat .border img { border: 1px solid #ccc}

article{ margin-bottom:20px; background: #fff; font-size:20px; padding: 20px}
.article-h1{font-size:25px; color: #cb2321; font-family: 'HACEN TUNISIA BOLD'; }
.art-date{ color: #959595; }
article .media_embed iframe{ width:100%;}

.youtube-frame{ width: 100%; height: 500px }

article .art_social{ float: right; border: solid 1px #d5d5d5; background:#f8f8f8;  }
article img{ margin-bottom:13px;}
img.art-main{ margin-bottom:0; width: 100%}
article p{font-size:20px;}

.related{ float: right; background: #fff; width: 100%; padding: 10px; margin-bottom: 20px }
.related .related-title{ color: #cdcdcd; text-align: center; font-size: 22px; margin-bottom: 20px; float: right; width: 100%; border: 0; }
.related .txt{ font-family: 'HACEN TUNISIA BOLD'; max-height: 36px; overflow: hidden; }

section, article{float: right; width: 100%;  margin-bottom: 20px; padding: 20px }

.add-comment{float: right; width: 100%;}
.add-comment h2{color:#cb2321; font-size: 20px;}
.add-comment .form-control{padding:20px 15px; font-size: 16px; border-radius: 0; border:0; background: #f3f3f3;     box-shadow: inset 0 1px 1px rgba(0,0,0,0);}
.add-comment .btn-cmnt{ background-color: #cb2322; border-radius: 2px; color: #fff; }

.comments{}
.comments:before {
    content: "";
    height: 100px;
    width: 8px;
    background: #cb2321;
    top: -15px;
    right: -5px;
    position: absolute;
}
.comments ol { counter-reset: my-badass-counter; list-style: none; margin: 0; padding: 0; }
.comments ol li.comment { float: right; width: 100%;  padding: 7px 0; border:solid #eaeaea 0px; border-top-width: 1px;  }
.comments ol li.comment:before { content: counter(my-badass-counter); counter-increment: my-badass-counter; float: right;width: 3%; font-size: 20px; font-weight: bold; color: #ccc;  }
.comments ol li.comment .content { float: right; width: 97%; }
.comments ol li.comment .content .txt{float: right; width: 100%; margin-bottom: 5px; }
.comments ol li.comment .content .name, .comments ol li.comment .content .date{float: right; color: #999; font-size: 11px;}
.comments ol li.comment .content .space{float: right;margin:3px 7px 0 0 ; padding-right: 7px; border-right: solid 1px #999; height: 10px; content:" ";}

.pagination{margin-top: 8px;}
.pagination>li>a, .pagination>li>span{ color:#FF7100;}


.filter{ background: #fff; padding: 0 15px;  width: 100%}
.filter input,.filter .bootstrap-select .btn{background: #fff; border:1px solid #ccc; border-radius: 2px; box-shadow: inset 0 0px 0px rgba(0,0,0,0); color: #999}
.filter label{ color: #99be3b; font-size: 12px; margin-right: -10px; }
.filter .form-control{ font-size: 12px; }
.add-comment .form-control{padding:20px 15px; font-size: 16px; border-radius: 0; border:0; background: #f3f3f3;     box-shadow: inset 0 1px 1px rgba(0,0,0,0);}

.add-comment .btn.add{ background: #cb2321; color: #fff; text-align: center; border-radius: 0; font-size: 20px; width: 100%; height: 100px; line-height: 100px}

.add-comment .inputfile { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }
.add-comment .inputfile + label {background: #f99b1f; border-radius:0; color: #fff; font-size: 20px; text-align: center; width: 100%; padding: 7px; margin-top: 15px; display: inline-block; margin-right: 0; font-weight: normal; }

.add-comment .inputfile:focus + label,
.add-comment .inputfile + label:hover { background-color: #e48f1e; cursor: pointer; }

.add-comment .thumb-image{ float:right;width:25%; position:relative; padding:5px;}

#addpro .thumb-image{ position: relative; margin-bottom: 5px; width: 32%; }
#addpro .thumb-image .remove { position: absolute; top: 5px; left: 5px; display: block; color: #7d0c0c; text-align: center; cursor: pointer;
}
#addpro .remove:hover {
  background: white;
  color: black;
}
@media (max-width: 1200px){

}

@media (max-width: 990px){
    .navbar-nav>li {width: 19.5%;}
}


@media (max-width: 767px){
    .navbar{  min-height: 0; margin-top: 3px;}
    .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse{margin-right: 0px;margin-left: 0;}
    .navbar-default .navbar-nav>li.dropdown{ width: 100%;}
    .navbar-default .navbar-nav>li.dropdown.active{ background: #F7F7F7;}
    .navbar-nav .open .dropdown-menu{background: #eaeaea;}
    .navbar-nav>li{ width:100%; margin: 0;}
    .navbar-default .navbar-nav>li>a{ border-top-width:0px;}
    .navbar-toggle { margin:10px 0 0; color:#fff;   background-color: #616161; font-size:11px;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
      background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.14) 0%, rgba(255,255,255,.14) 100%);
      background-image: -o-linear-gradient(bottom, rgba(0,0,0,.14) 0%, rgba(255,255,255,.14) 100%);
      background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.14) 0%, rgba(255,255,255,.14) 100%);
      background-image: linear-gradient(bottom, rgba(0,0,0,.14) 0%, rgba(255,255,255,.14) 100%);}
    .navbar-toggle .icon-bar {  background: #fff;}

    .hidden-xxs{ display:none !important;}
.visible-xxs { display: block;}

.media .seconed { margin-right: 0; }

.col-r { width: 100%}
.col-l { width: 100%;}

.cube,.cube2,.cube3 { width: 100%; height: auto;}

.cat-5 .col-md-25{ width: 100%; }

.main_news .carousel .title{ font-size: 16px; margin: 0 }

}
