@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'Tajawal-Black'; src: url(../fonts/Tajawal-Black.eot); src: url(../fonts/Tajawal-Black.eot?#iefix) format('embedded-opentype'),url(../fonts/Tajawal-Black.woff2) format('woff2'),url(../fonts/Tajawal-Black.woff) format('woff'),url(../fonts/Tajawal-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Tajawal-Bold'; src: url(../fonts/Tajawal-Bold.eot); src: url(../fonts/Tajawal-Bold.eot?#iefix) format('embedded-opentype'),url(../fonts/Tajawal-Bold.woff2) format('woff2'),url(../fonts/Tajawal-Bold.woff) format('woff'),url(../fonts/Tajawal-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Tajawal-ExtraBold'; src: url(../fonts/Tajawal-ExtraBold.eot); src: url(../fonts/Tajawal-ExtraBold.eot?#iefix) format('embedded-opentype'),url(../fonts/Tajawal-ExtraBold.woff2) format('woff2'),url(../fonts/Tajawal-ExtraBold.woff) format('woff'),url(../fonts/Tajawal-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Tajawal-ExtraLight'; src: url(../fonts/Tajawal-ExtraLight.eot); src: url(../fonts/Tajawal-ExtraLight.eot?#iefix) format('embedded-opentype'),url(../fonts/Tajawal-ExtraLight.woff2) format('woff2'),url(../fonts/Tajawal-ExtraLight.woff) format('woff'),url(../fonts/Tajawal-ExtraLight.ttf) format('truetype');
}
@font-face {
    font-family: 'Tajawal-Light'; src: url(../fonts/Tajawal-Light.eot); src: url(../fonts/Tajawal-Light.eot?#iefix) format('embedded-opentype'),url(../fonts/Tajawal-Light.woff2) format('woff2'),url(../fonts/Tajawal-Light.woff) format('woff'),url(../fonts/Tajawal-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Tajawal-Medium'; src: url(../fonts/Tajawal-Medium.eot); src: url(../fonts/Tajawal-Medium.eot?#iefix) format('embedded-opentype'),url(../fonts/Tajawal-Medium.woff2) format('woff2'),url(../fonts/Tajawal-Medium.woff) format('woff'),url(../fonts/Tajawal-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Tajawal-Regular';
    src: url('../fonts/Tajawal-Regular.eot');
	src: url('../fonts/Tajawal-Regular.woff') format('woff'), url('../fonts/Tajawal-Regular.ttf') format('truetype'), url('../fonts/Tajawal-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


