
@font-face {
  font-family: 'Raleway-Bold';
  src: url('fonts/Raleway-Bold.eot');
  src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg'),
       url('fonts/Raleway-Bold.ttf') format('truetype'),
       url('fonts/Raleway-Bold.woff') format('woff'),
       url('fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta-Bold';
  src: url('fonts/Mukta-Bold.eot');
  src: url('fonts/Mukta-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Bold.svg#Mukta-Bold') format('svg'),
       url('fonts/Mukta-Bold.ttf') format('truetype'),
       url('fonts/Mukta-Bold.woff') format('woff'),
       url('fonts/Mukta-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta-SemiBold';
  src: url('fonts/Mukta-SemiBold.eot');
  src: url('fonts/Mukta-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-SemiBold.svg#Mukta-SemiBold') format('svg'),
       url('fonts/Mukta-SemiBold.ttf') format('truetype'),
       url('fonts/Mukta-SemiBold.woff') format('woff'),
       url('fonts/Mukta-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Mukta-Regular';
  src: url('fonts/Mukta-Regular.eot');
  src: url('fonts/Mukta-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Regular.svg#Mukta-Regular') format('svg'),
       url('fonts/Mukta-Regular.ttf') format('truetype'),
       url('fonts/Mukta-Regular.woff') format('woff'),
       url('fonts/Mukta-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta-Medium';
  src: url('fonts/Mukta-Medium.eot');
  src: url('fonts/Mukta-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Medium.svg#Mukta-Medium') format('svg'),
       url('fonts/Mukta-Medium.ttf') format('truetype'),
       url('fonts/Mukta-Medium.woff') format('woff'),
       url('fonts/Mukta-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body{
	    overflow-x: hidden;
}


p{
	font-family: 'Mukta-Regular';
	color:#707070;
	letter-spacing: 0;
}


.maintitle{
font-family: 'Raleway-Bold';
		color:#4EA9E0;
		font-size:40px;
		margin-bottom: 20px;	
}

.maintitle span {
    color: #E94150;
}



#pagetitle{

height: 444px;
	background:url(images/about/sec1.png);
	position:relative;
background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-color: white;
	/*
	  -webkit-animation: zoomin 10s ease-in infinite;
  animation: zoomin 10s ease-in infinite;
  transition: all .5s ease-in-out;*/
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
  50% {transform: scale(1.2);     box-shadow: 0px 0px 500px 90px #fff; text-shadow: 0 0 70px #ffffff; }
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
}
@keyframes zoomin {
  0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
  50% {transform: scale(1.2);     box-shadow: 0px 0px 500px 90px #fff; text-shadow: 0 0 70px #ffffff;}
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
  50% {transform: scale(0.67);    box-shadow: 0px 0px 500px 90px #fff; text-shadow: 0 0 70px #ffffff;}
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
}
@keyframes zoomout {
    0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
  50% {transform: scale(0.67);     box-shadow: 0px 0px 500px 90px #fff; text-shadow: 0 0 70px #ffffff;}
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
}/*End of Zoom out Keyframes */

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-indicators .active, .carousel-indicators li:hover {
    background-color: #4EA9E0 !important;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}

#pagetitle h2{
    letter-spacing: 0;
    color: #4EA9E0;
    font-size: 60px;
    font-family: 'Raleway-Bold';
    top: 15rem;
    position: absolute;
    left: 10.3rem;
}

#intro 
{
	
	    margin-top: 9rem;
}
#intro p{
	letter-spacing: 0;
color: #707070;
font-size:21px;
}

#section1{
	margin-bottom:10%;
}


/* section2 */
#section2 {
	margin-bottom:10%;
}

#innerbox{
text-align: center;	
}

#section2 #innerbox:nth-child(1) p{
	background:url(images/about/bg1.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100% 100%;
    min-height: 485px;
       padding: 15px;
    text-align: center;
    font-size: 19px;
	padding-top:40px;
}

#section2 #innerbox:nth-child(1) #icon{
		background:url(images/about/titlebg1.png);
	background-repeat:no-repeat;
	background-position:center;
    background-size: contain;
    min-height: 150px;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    font-size: 21px;
    display: inline-block;
    width: 100%;
	    margin-bottom: 8%;
		-webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}


#section2 #innerbox:nth-child(1) #icon:hover{
	  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#section2 #innerbox:nth-child(1) #title{
	font-family: 'Mukta-SemiBold';
	letter-spacing: 0;
color: #505050;
font-size: 25px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}


#section2 #innerbox:nth-child(2) p{
	background:url(images/about/bg2.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100% 100%;
    min-height: 485px;
      padding: 15px;
    text-align: center;
font-size: 19px;
    padding-top: 40px;
}

#section2 #innerbox:nth-child(2) #icon{
		background:url(images/about/titlebg2.png);
	background-repeat:no-repeat;
	background-position:center;
    background-size: contain;
    min-height: 150px;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    font-size: 21px;
    display: inline-block;
    width: 100%;
	    margin-bottom: 8%;
	-webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}


#section2 #innerbox:nth-child(2) #icon:hover{
	  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#section2 #innerbox:nth-child(2) #title{
	font-family: 'Mukta-SemiBold';
	letter-spacing: 0;
color: #505050;
font-size: 25px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}


#section2 #innerbox:nth-child(3) p{
	background:url(images/about/bg3.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100% 100%;
    min-height: 480px;
padding: 23px;
    text-align: center;
    font-size: 19px;
    padding-top: 40px;
}


#section2 #innerbox:nth-child(3) #icon:hover{
	  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#section2 #innerbox:nth-child(3) #icon{
		background:url(images/about/titlebg3.png);
	background-repeat:no-repeat;
	background-position:center;
    background-size: contain;
    min-height: 150px;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    font-size: 21px;
    display: inline-block;
    width: 100%;
	    margin-bottom: 8%;
		-webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#section2 #innerbox:nth-child(3) #title{
	font-family: 'Mukta-SemiBold';
	letter-spacing: 0;
color: #505050;
font-size: 25px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

/* ../section2 */

/* section3 */
#section3{
	background: url(images/about/bg4.png);
    background-repeat: no-repeat;
       background-position: top center;
}

#section3 h2{
	text-align:center;
}

#section3  p{
    max-width: 96%;
    float: none;
    margin: auto;
    text-align: center;
    letter-spacing: 0;
    color: #707070;
    height: 135px;
    line-height: 44px;
    font-size: 21px;
}


.containercustom{
max-width: 91%;
    float: none;
    margin: auto;
	margin-top:3%;
}
/* ../section3 */
.item
{
	
	    min-height: 500px;
}
.item div {
	position:absolute;
	width:260px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.item div img
{
	
	    height: 100%;
    width: 100%;
	border-radius: 5px;
}

.item div span{
	opacity:0;
	top:0;
	
border-radius: 5px;
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    height: 100%;
	text-align:center;
	padding: 25px;
}

.item div span img{
	    position: relative;
    vertical-align: middle;
    margin-top: 38%;
		
	    height:auto;
    width: auto;
	max-width:100%;
}

.item div:nth-child(1) {
	top: 0rem;
	width: 260px !important;
height: 254px !important;
}



.item div:nth-child(1):hover span{
background: #4EA9E0 0% 0% no-repeat padding-box;
opacity: 0.67;

}

.item div:nth-child(2) {
    top: 27rem;
    left: 0;
	height: 129px !important;
    width: 260px;
}

.item div:nth-child(2) span img{
 margin-top: 12%;

}

.item div:nth-child(2):hover span{
background: #707070 0% 0% no-repeat padding-box;
opacity: 0.67;

}

.item div:nth-child(3) {
	top: 0rem;
	left: 28rem;
	width: 260px !important;
height: 129px !important;
}


.item div:nth-child(3) span img{
 margin-top: 10%;

}

.item div:nth-child(3):hover span{
background: #4EA9E0 0% 0% no-repeat padding-box;
opacity: 0.67;

}

.item div:nth-child(4) {
    top: 14.6rem;
    left: 28rem;
    width: 260px !important;
    height: 254px !important;
}

.item div:nth-child(4) span img{
 margin-top: 40%;

}

.item div:nth-child(4):hover span{
background: #E94150 0% 0% no-repeat padding-box;
opacity: 0.67;

}

.item div:nth-child(5) {
		top: 0rem;
		width: 260px !important;
height: 254px !important;
	left: 55rem;
}

.item div:nth-child(5) span img{
 margin-top: 40%;

}

.item div:nth-child(5):hover span{
background: #707070 0% 0% no-repeat padding-box;
opacity: 0.67;

}


.item div:nth-child(6) {
		top: 27rem;
	left: 55rem;
	width: 260px !important;
height: 129px !important;
}

.item div:nth-child(6) span img{
 margin-top: 10%;

}

.item div:nth-child(6):hover span{
background: #4EA9E0 0% 0% no-repeat padding-box;
opacity: 0.67;

}

.item div:nth-child(7) {
	top: 0rem;
	width: 260px !important;
height: 129px !important;
left: 82rem;
}


.item div:nth-child(7) span img{
 margin-top: 10%;

}

.item div:nth-child(7):hover span{
background: #4EA9E0 0% 0% no-repeat padding-box;
opacity: 0.67;

}

.item div:nth-child(8) {
	top: 14.5rem;
	left: 82rem;
	width: 260px !important;
height: 254px !important;
}

.item div:nth-child(8) span img{
 margin-top: 40%;

}

.item div:nth-child(8):hover span{
background: #707070 0% 0% no-repeat padding-box;
opacity: 0.67;

}

.item div:nth-child(9) {
	top: 0rem;
	left: 109rem;
	width: 195px !important;
height: 254px !important;
}


.item div:nth-child(9) span img{
 margin-top: 40%;

}

.item div:nth-child(9):hover span{
background: #E94150 0% 0% no-repeat padding-box;
opacity: 0.67;

}
.item div:nth-child(10) {
	top: 27rem;
	left: 109rem;
width: 195px !important;
height: 129px !important;
}

.item div:nth-child(10) span img{
 margin-top: 15%;

}

.item div:nth-child(10):hover span{
background: #4EA9E0 0% 0% no-repeat padding-box;
opacity: 0.67;

}

.item div:nth-child(11) {
	top: 27rem;
	left: 130rem;
	width: 260px !important;
height: 129px !important;
}

.item div:nth-child(12) {
	top: 27rem;
	left: 130rem;
	width: 260px !important;
height: 254px !important;
}
.carousel-control{
	    top: 369px !important;
    bottom: 0;
    left: -89px !important;
	z-index: 99999 !important;
}

.carousel-control.right{
right: -60px !important;
    left: auto !important;
	
}

.carousel-control.right  , .carousel-control.left{
	background: none !important;
}

.glyphicon-chevron-left:before {
    content: "\e079";
    color: #4EA9E0;
    opacity: 1;
    /* font-size: 10px; */
}

.glyphicon-chevron-right:before {
    content: "\e080";
	 color: #4EA9E0;
    opacity: 1;
}

.carousel-indicators li {
	background-color: #ccc !important;
}

.carousel-indicators .active  , .carousel-indicators li:hover{
	 background-color: #4EA9E0 !important;
}

/*  section4 */
#section4 h2{
	text-align:center;
}

#section4 p{
    max-width: 92%;
    float: none;
    margin: auto;
    text-align: center;
    letter-spacing: 0;
    color: #707070;
    min-height: 135px;
    line-height: 38px;
    font-size: 21px;
}

.team{
    background: url(images/about/teambg.png);
    background-size: 100%;
    background-repeat: no-repeat;
	margin-top:3%;
	text-align: center;
    height: 1300px;
    overflow: hidden;
	position:relative;
	
}

.emp{
	position:absolute;
}

.emp img{
	width: 100%;
	max-width:100%;
	/*
	max-height: 233px;*/
}


.emp p#empintro{
	display:none;
    text-align: center;
    letter-spacing: 0;
    color: #fff;
    min-height: 135px;
    line-height: 38px;
    font-size: 18px;
    position: absolute;
    top: 0;
      border-radius: 10px;
    background: #000000a3;
    background: #000;
    width: 100%;
    height: 100%;
    left: 0px;
    float: left;
    max-width: inherit;
	opacity: 0.64;


}

.emp p#empintro span{
	display: inline-block;
    width: 100%;
    font-size: 24px;
    margin-top: 40px;
	 color: #4EA9E0;
}

.emp:hover p#empintro{
	display:inherit;
}

.emp:nth-child(1){
    top: 17rem;
    width: 159px;
    height: 232px;
    left: 1rem;
}

.emp:nth-child(2){
    top: 45rem;
    left: 8rem;
	width: 139px;
height: 207px;
}


.emp:nth-child(3){
top: 24rem;
    left: 26rem;
	width: 181px;
height: 266px;
}

.emp:nth-child(4){
    top: 49rem;
    left: 51rem;
width: 124px;
height: 178px;
}

.emp:nth-child(5){
top: 21rem;
    left: 51rem;
		width: 133px;
height: 185px;
}


.emp:nth-child(6){
top: 28rem;
    left: 68rem;
    width: 170px;
    height: 245px;
}

.emp:nth-child(7){
    top: 19rem;
    left: 90rem;
    width: 120px;
    height: 178px;

}


.emp:nth-child(8){
    top: 50rem;
    left: 89rem;
    width: 120px;
    height: 178px;

}



.emp:nth-child(9){
top: 19rem;
    left: 108rem;
    width: 120px;
    height: 178px;
    width: 159px;
    height: 232px;

}

.emp:nth-child(10){
    top: 44rem;
    left: 116rem;
    width: 120px;
    height: 178px;
    width: 152px;
    height: 225px;

}

/*  ../section4 */

/* snow animation */
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}

@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}

.snowflake{
	position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;
-webkit-animation-duration:10s,3s;
-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;
-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;
animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;
animation-play-state:running,running;
color:#eaa8ad;
}

.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* ../snow animation */



@media only screen and (max-width:768px){
	
	/*.container-fluid , .container {
    padding-right: 40px;
    padding-left: 40px;
}*/

.navbar-nav{
		     padding-left: 0px;
    display: inline-block;
    width: 100%;
	 }
#rightpart{
	    text-align: center;
}

.social {
    text-align: center;
    float: right;
    width: 100%;
    max-width: 100%;
}
.inputform3 , .form .inputform2{
	
	    width: 100%;
	    margin-bottom: 3rem;
}
ul.social{
	padding-left: 0px;
}

	
	

#icon{
    display: none !important;
}


#innerbox:nth-child(1){
  background:#fbe9eb;	
  border:3px solid #e94150;
  border-radius:10px;
  padding:20px;
  text-align:left;
  margin-bottom:20px;
}

#section2 #innerbox:nth-child(1) p , #section2 #innerbox:nth-child(2) p , #section2 #innerbox:nth-child(3) p{
	background:none;
	text-align:left;
	padding: initial;
	min-height: auto;
	font-size:20px;
}

#innerbox:nth-child(2){
	  background:#e0ecf6;	
  border:3px solid #4ea9e0;
  border-radius:10px;
  padding:20px;
  text-align:left;
  margin-bottom:20px;
}

#innerbox:nth-child(3){
	  background:#efefef;	
  border:3px solid #707070;
  border-radius:10px;
  padding:20px;
  text-align:left;
  margin-bottom:20px;
}

#section3 p{
	height: auto;
    width: 100%;
    max-width: inherit;
    line-height: 38px;
}

.carousel-control{
	left:-20px !important;
}

.carousel-control.right {
    right: -20px !important;
    left: auto !important;
}

.item div{
	    top: 0rem;
    width: 100% !important;
    height: auto !important;
}

.carousel-indicators {
    bottom: 75px;
    left: 10px;
}




body:before{

    background: url(images/innerpagesmobile.png);
	background-repeat: no-repeat;
    background-size: 100%;
	content: "";
    width: 100%;
   min-height: 938px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: 0px;
	
}
#pagetitle h2{
	    top: 10px;
    position: relative;
}


}

@media only screen and (max-width:400px){
	.navbar-nav{
		     padding-left: 0px;
    display: inline-block;
    width: 100%;
	 }
		 	/* #paragraph1 , #paragraph2 {
    position: inherit;
    font-size: 20px;
    bottom: inherit;
    max-width: 100%;
    text-align: center;
    left: inherit;
}
	 .form select , .inputform3{
		     width: 100%;
			     max-width: 100%;
	 }*/
	 
	 
	 
	 
 }