
@font-face {
  font-family: 'Raleway-Bold';
  src: url('fonts/Raleway-Bold.eot');
  src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg'),
       url('fonts/Raleway-Bold.ttf') format('truetype'),
       url('fonts/Raleway-Bold.woff') format('woff'),
       url('fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Raleway-Regular';
  src: url('fonts/Raleway-Regular.eot');
  src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg'),
       url('fonts/Raleway-Regular.ttf') format('truetype'),
       url('fonts/Raleway-Regular.woff') format('woff'),
       url('fonts/Raleway-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Mukta-Bold';
  src: url('fonts/Mukta-Bold.eot');
  src: url('fonts/Mukta-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Bold.svg#Mukta-Bold') format('svg'),
       url('fonts/Mukta-Bold.ttf') format('truetype'),
       url('fonts/Mukta-Bold.woff') format('woff'),
       url('fonts/Mukta-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta-SemiBold';
  src: url('fonts/Mukta-SemiBold.eot');
  src: url('fonts/Mukta-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-SemiBold.svg#Mukta-SemiBold') format('svg'),
       url('fonts/Mukta-SemiBold.ttf') format('truetype'),
       url('fonts/Mukta-SemiBold.woff') format('woff'),
       url('fonts/Mukta-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Mukta-Regular';
  src: url('fonts/Mukta-Regular.eot');
  src: url('fonts/Mukta-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Regular.svg#Mukta-Regular') format('svg'),
       url('fonts/Mukta-Regular.ttf') format('truetype'),
       url('fonts/Mukta-Regular.woff') format('woff'),
       url('fonts/Mukta-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta-Medium';
  src: url('fonts/Mukta-Medium.eot');
  src: url('fonts/Mukta-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Medium.svg#Mukta-Medium') format('svg'),
       url('fonts/Mukta-Medium.ttf') format('truetype'),
       url('fonts/Mukta-Medium.woff') format('woff'),
       url('fonts/Mukta-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body{
	    overflow-x: hidden;
}


p{
	font-family: 'Mukta-Regular';
	color:#707070;
	letter-spacing: 0;
}


.maintitle{
font-family: 'Raleway-Bold';
		color:#4EA9E0;
		font-size:40px;
		margin-bottom: 20px;	
		    text-transform: uppercase;
}

.maintitle span {
    color: #E94150;
}

#pagetitle{

height: 444px;
	background:url(images/careers_bg.png);
	position:relative;
background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-color: white;
	/*
	 -webkit-animation: zoomin 10s ease-in infinite;
  animation: zoomin 10s ease-in infinite;
  transition: all .5s ease-in-out;*/
}

#pagetitle h2{
letter-spacing: 0;
    color: #4EA9E0;
    font-size: 60px;
    font-family: 'Raleway-Bold';
    top: 18rem;
    position: absolute;
    left: 9.5rem;
    color: #e94150;
    text-transform: uppercase;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
  50% {transform: scale(1.2);     box-shadow: 0px 0px  10px 10px #fff; text-shadow: 0 0 70px #ffffff; }
  100% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
}
@keyframes zoomin {
  0% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
  50% {transform: scale(1.2);     box-shadow: 0px 0px 10px  10px  #fff; text-shadow: 0 0 70px #ffffff;}
  100% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
  50% {transform: scale(0.67);    box-shadow: 0px 0px 10px 10px #fff; text-shadow: 0 0 70px #ffffff;}
  100% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
}
@keyframes zoomout {
    0% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
  50% {transform: scale(0.67);     box-shadow: 0px 0px  10px 10px  #fff; text-shadow: 0 0 70px #ffffff;}
  100% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
}/*End of Zoom out Keyframes */


#intro{
	margin-top:10rem;
}

#section3 #intro {
	margin-top:0px;
	text-align:center;
}

#intro p{
	letter-spacing: 0;
color: #707070;
font-size:21px;
}






#section3{
	  min-height: 600px;
    padding-top: 9%;
    position: relative;
	margin-bottom:10%;
}





#filiter ul {
width: 30%;
    max-width: 30%;
    /* float: none; */
    margin: auto;
    list-style: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 33px;
    position: relative;
    display: inline-block;
    padding: 0px;
	margin-top: 15px;
    margin-bottom: 25px;
}
#filiter ul li {
  
    vertical-align: top;
    width:50%;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #ddd;
    text-align: center;
    float: left;
    position: relative;
    text-indent: 20px;
    border-top-right-radius: 70px;
}

#filiter ul li:nth-child(1):hover, #filiter ul li.active:nth-child(1) {
    border-radius: 33px 0px 0px 33px;
}


#filiter ul li:hover, #filiter ul li.active {
    background: transparent linear-gradient(242deg, #4EA9E098 0%, #E9415098 100%) 0% 0% no-repeat padding-box;
    color: #fff;
}

#filiter ul li:last-child:hover, #filiter ul li.active:last-child{
    border-radius: 0px 33px 33px 0px;
}

#filiter ul li a {
    font-size: 16px;
    letter-spacing: 0;
    color: #707070;
}
#filiter ul li:last-child{
	border-radius: 0px 33px 33px 0px;

}


#filiter ul li:hover a, #filiter ul li.active  a{
    color: #fff;
}

.cats {
min-height: 190px;
    border-radius: 10px 10px 10px 10px;
	box-shadow:0px 0px 13px rgba(100, 100, 100, 0.11);
    padding: 20px;
	color: #5C5C5C;	
	font-family: 'Raleway-Regular';
	line-height: 39px;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		letter-spacing: 0.46px;
		text-transform: capitalize;
	margin: 9px;
    max-width: 23%;
	position:relative;
		
}

.cats span{
	    position: absolute;
    bottom: 10px;
    right: 27px;
    font-size: 14px;
	color:#4ea9e0;
}


.cats span:before{
	content:"";
	background:url('images/arrow234.png');
	background-repeat:no-repeat;
	background-size:100%;
	width:30px;
	height:30px;
}


#jobdec{
border:1px solid #dedede;
border-radius:10px;
max-height:300px;
overflow-y: scroll;
    overflow-x: hidden;
	padding:25px;
	font-size:16px;
	margin-bottom:30px;
}

.inputform{
border: 1px solid #D5D5D5;
    height: 60px;

    border-radius: 5px;
    /* width: 45%; */
    margin-bottom: 3rem;
}

#applicationform{
padding-bottom:3rem;
text-align:center;
}




.inputform.cv{
	
	     border: 1px dashed #D5D5D5;
}

@media only screen and (max-width:768px){
	

	.addedimgs ul li{
		    display: inline-block;
			margin-bottom:15px;
			    width: 100%;
    max-width: 100%;
	}
	
	
	#section3{
		margin-bottom: auto;
		 padding-top: initial;
		  min-height: auto;
	}
	
	#section4 , #section5 {
    min-height: auto;
    padding-top: initial;
    margin-bottom: auto;
	}

	#section2:before , #section3:before , #section4:before , #section5:before{
			display:none;
	}
	

body:before{

    background: url(images/servicesbgmobile.png);
	background-repeat: no-repeat;
    background-size: 100%;
	
	content: "";
    width: 100%;
   min-height: 938px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: 0px;
}


}



