
footer {
    min-height: 400px;
    background: #010510;
	padding-top:60px;
	padding-bottom:60px;
	position:relative;
	max-height: 500px;
    overflow: hidden;
	z-index:9;
}


footer .copyright{
	position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
	    bottom: -44px;
}

#leftpart{
	margin-top:30px;
	margin-bottom:30px;
	min-height:200px;
	padding-top:15px;
	z-index: 99999999;
    position: relative;
}

#leftpart  ul{
	
	    display: inline-block;
    /* max-height: 100px; */
    list-style: none;
	    column-count: 3;
	padding-left:0px;
}

#leftpart  ul li{
	
		display:inline-block;
		vertical-align:top;
		    width: 100%;
    height: 30px;
	line-height:30px;
	padding-left:5px;
	 transition: all .2s ease-in-out; 
}


#leftpart ul li a{
text-align: left;
font-family: 'Mukta-Regular';
letter-spacing: 2px;
font-size:17px;	
color: #FFFFFF;	
 transition: all .2s ease-in-out; 
}

#leftpart ul li a:hover , #leftpart ul li:hover a
{
font-size: 18px;
    z-index: 9999;
    position: relative;
    
	   
    background: linear-gradient(#E94150, #4EA9E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#rightpart{
	text-align: right;
	margin-top:30px;
	margin-bottom:30px;
	min-height:100px;
	padding-top:15px;
}

.social{
	text-align: center;
    float: right;
    width: 87%;
    max-width: 87%;
	
}

#socialtxt{
	letter-spacing: 1.7px;
	color: #9F9F9F;
	font-size:17px;
    margin-bottom: 30px;
}

.social li{
	display:inline-block;
	vertical-align:top;
	    padding-left: 15px;
    padding-right: 15px;
}

.footerrightdiv
{
	background:url(images/footerright.png);
	animation: footerright 3s ease-out infinite;
	transform-origin: center center;
    opacity: 1;
    position: absolute;
    z-index: 99999;
    right: 0;
    width: 67rem;
    height: 19rem;
    top: -1rem;
}
.footerleftdiv{
	
		background:url(images/footerleft1.png);
	
 animation: float 3s ease-out infinite;
        background-size: cover;
    position: absolute;
    z-index: 99999;
    left: 0rem;
    width: 67rem;
    height: 20rem;
    bottom: 0.25rem;
 opacity:1;
}

.footerleftdiv:before{
	
	content:"";
	background:url('images/footerleft.png');
	    background-size: cover;
	    position: absolute;
    width: 78rem;
    height: 230px;
    top: -2rem;
    left: 0rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	animation: footerleftt 3s ease-out infinite;
	
}

@keyframes footerright {
  0% {
    opacity:0.2;
  }
  50% {
   opacity:1;
  }
  100% {
    opacity:0.2;
  }
}

@keyframes footerleftt {
  0% {
    opacity:0.2;
  }
 
  
  50% {
   opacity:1;
  }
  100% {
    opacity:0.2;
  }
}




@keyframes footerlefttbefore {
  0% {
    opacity:1;
  }
 
  
  50% {
   background:red;
  }
  100% {
    opacity:1;
  }
}

#shadow1{
    width: 0px;
    height: 0px;
    box-shadow: 0px 0px 169px 159px #ffffff87;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    border-radius: 10px;
    background: #ffffff2e;
}


#shadow2{
	width: 5px;
    height: 5px;
    box-shadow: 0px 0px 10px #fff;
    position: absolute;
    top: 7rem;
    left: 5.5rem;
    border-radius: 10px;
    background: #ffffff47;
}


#shadow3{
	width: 5px;
    height: 5px;
    box-shadow: 0px 0px 10px #fff;
    position: absolute;
    top: 7.5rem;
    left: 15rem;
    border-radius: 10px;
    background: #ffffff47;
}

#shadow4{
	width: 5px;
    height: 5px;
    box-shadow: 0px 0px 10px #fff;
    position: absolute;
    top: 3rem;
    left: 2rem;
    border-radius: 10px;
    background: #ffffff47;
}

#shadow5{
width: 0px;
    height: 0px;
    box-shadow: 0px 46px 1100px 120px #E94150;
    position: absolute;
    top: -1rem;
    left: 5rem;
    border-radius: 10px;
    background: #E94150;
}

#shadow6{
width: 0px;
    height: 0px;
    box-shadow: 29px 46px 186px 70px #E94150;
    position: absolute;
    top: 7rem;
    left: 62rem;
    border-radius: 10px;
    background: #E94150;
}



.social li a img{
	    opacity: 0.5;
	
}



.social li a:hover img{
	opacity: 1;
}


.snowflake{
	display:none;
}


#fullnameerror , #div1  , #emailerror , #msgerror{
float: left;
    width: 100%;
    text-align: left;
    color: red;
    font-weight: bold;
	    display: none;
    margin-top: -35px;	
}

#div2{
	float: left;
    width: 100%;
    text-align: left;
    color: red;
    font-weight: bold;
	    display: none;
}
