
@font-face {
  font-family: 'Raleway-Bold';
  src: url('fonts/Raleway-Bold.eot');
  src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg'),
       url('fonts/Raleway-Bold.ttf') format('truetype'),
       url('fonts/Raleway-Bold.woff') format('woff'),
       url('fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta-Bold';
  src: url('fonts/Mukta-Bold.eot');
  src: url('fonts/Mukta-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Bold.svg#Mukta-Bold') format('svg'),
       url('fonts/Mukta-Bold.ttf') format('truetype'),
       url('fonts/Mukta-Bold.woff') format('woff'),
       url('fonts/Mukta-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta-SemiBold';
  src: url('fonts/Mukta-SemiBold.eot');
  src: url('fonts/Mukta-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-SemiBold.svg#Mukta-SemiBold') format('svg'),
       url('fonts/Mukta-SemiBold.ttf') format('truetype'),
       url('fonts/Mukta-SemiBold.woff') format('woff'),
       url('fonts/Mukta-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Mukta-Regular';
  src: url('fonts/Mukta-Regular.eot');
  src: url('fonts/Mukta-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Regular.svg#Mukta-Regular') format('svg'),
       url('fonts/Mukta-Regular.ttf') format('truetype'),
       url('fonts/Mukta-Regular.woff') format('woff'),
       url('fonts/Mukta-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta-Medium';
  src: url('fonts/Mukta-Medium.eot');
  src: url('fonts/Mukta-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Medium.svg#Mukta-Medium') format('svg'),
       url('fonts/Mukta-Medium.ttf') format('truetype'),
       url('fonts/Mukta-Medium.woff') format('woff'),
       url('fonts/Mukta-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body{
	    overflow-x: hidden;
}

body:before{
content: "";
    background: url(images/bg22.png);
    background-size: 100% ;
    width: 100%;
    min-height: 938px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: 0px;

}


p{
	font-family: 'Mukta-Regular';
	color:#707070;
	letter-spacing: 0;
}




#section1{
	padding-top: 60px;
	    min-height: 660px;
}




.star   img{
	
	    margin-left: 46px;
    margin-top: 18px;
    max-width: 61px;
    position: absolute;
	display:none;
}

.maintitle{
font-family: 'Raleway-Bold';
		color:#4EA9E0;
		font-size:40px;
		margin-bottom: 20px;	
}

.maintitle span{
	color:#E94150;
}

#section1 .maintitle{
	    margin-top: 40px;
		
}



#section1 p{
    font-size: 20px;
    line-height: 32px;
}

.innercontainer{
	position: relative;
}
.innercontainer #img1{
    position: absolute;
    z-index: 999;
    right: 18rem;
    width: 15rem;
    top: 7rem;
}

.skystar{
position: relative;
  background-image: url(images/stars-blue.png);
    color: white;
    -webkit-animation: fadein 2s ease-in alternate infinite;
    -moz-animation: fadein 2s ease-in alternate infinite;
    animation: fadein 2s ease-in alternate infinite;
	    top: 0rem;
    right: 8rem;
	    width: 1.2rem;
    height: 3.2rem;
	display:inline-block;
	
}


.innercontainer .skystar{
	    top: 46rem;
    right: -54rem;
    height: 4rem;
    width: 4rem;
}


#textpart .skystar{
top: 11rem;
    right: -52rem;
    width: 1.2rem;
    height: 3.2rem;
    display: inline-block;
    transform: rotate(85deg);
}



@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* star animation */ 

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
/* ../ star animation */



/* lamp animation */

#img2 {
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
  background: transparent;
  border-radius: 50%;
  -webkit-animation: blinkRed 5s ease  infinite;
  -moz-animation: blinkRed 5s ease  infinite;
  -ms-animation: blinkRed 5s ease  infinite;
  -o-animation: blinkRed 5s ease  infinite;
  animation: blinkRed 5s ease infinite;
  

  display: inline-block;
    right: 24rem;
    position: absolute;
    top: 2rem;

	
	background: url('images/lamp.png');
  background-repeat:no-repeat;
      box-shadow: 0px 0px 149px 10px #ffff00fc;
    background-color: #ffff0036;
	opacity: 0.9; 
	
}

@-webkit-keyframes blinkRed {
    from { opacity: 0.1;  webkit-filter: brightness(100%); filter: brightness(100%);}
    50% {      background-color: #ffff0036;  opacity: 1; webkit-filter: brightness(150%); filter: brightness(150%);}
    to {   opacity: 0.1; webkit-filter: brightness(100%); filter: brightness(100%);}
}


@-moz-keyframes blinkRed {
    from {opacity: 0.1;  webkit-filter: brightness(100%); filter: brightness(100%);}
    50% { background-color: #ffff0036;  opacity: 1; webkit-filter: brightness(150%); filter: brightness(150%);}
    to { opacity: 0.1; webkit-filter: brightness(100%); filter: brightness(100%);}
}
@-ms-keyframes blinkRed {
    from { opacity: 0.1;  webkit-filter: brightness(100%); filter: brightness(100%); }
    50% { background-color: #ffff0036;  opacity: 1; webkit-filter: brightness(150%); filter: brightness(150%);}
    to { opacity: 0.1; webkit-filter: brightness(100%); filter: brightness(100%);}
}
@-o-keyframes blinkRed {
    from { opacity: 0.1;  webkit-filter: brightness(100%); filter: brightness(100%);}
    50% { background-color: #ffff0036;  opacity: 1; webkit-filter: brightness(150%); filter: brightness(150%);}
    to { opacity: 0.1; webkit-filter: brightness(100%); filter: brightness(100%);}
}
@keyframes blinkRed {
    from { opacity: 0.1;  webkit-filter: brightness(100%); filter: brightness(100%);}
    50% { background-color: #ffff0036;  opacity: 1; webkit-filter: brightness(150%); filter: brightness(150%);}
    to { opacity: 0.1; webkit-filter: brightness(100%); filter: brightness(100%);}
}

/* ../ lamp animation */



/* leaves */
@keyframes bumpit {
    0% {
        transform: scale(.95);
		position: absolute;
    }
    50% {
        transform: scale(1.2);
		position: absolute;
		  }
    100% {
        transform: scale(.95);
		position: absolute;
}
}
#leaf {
	
    background: url(images/redtree.png);
    animation: bumpit 3s ease infinite;
    width: 10rem;
    height: 10rem;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 5.3rem;
        right: 46rem;
	position: absolute;
}

#leaf2 {
	    background: url(images/bluetree.png);
    animation: bumpit 2s ease infinite;
    width: 10rem;
    height: 10rem;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 15.7rem;
    right: 13rem;
    position: absolute;
}
/*../leaves*/


.star {
  background:transparent url('images/stars-left.png') repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
    width: 198px;
    left: -65px;
    opacity: 0.4;
    top: -19px;
	
	    position: absolute;
    min-height: 165px;
    margin-bottom: 0px;
}



/* section 2 */
div#section2 {
    min-height: 150px;
	position:relative;
	margin-top: 9rem;
}

div#section2 .col-md-2{
	position:relative;
}

.photo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
    padding: 20px;
    
	
}

.photo img{

  object-fit: cover;
 
  
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
     max-width: 95%;
    opacity: 0.5;
}

.photo:hover img , .photo img:hover{
  opacity: 1;
  -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
}

.photo .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow{
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap{
  margin-top: 0;
}
/*
.filitergray{
max-width: 100%;
 -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 0.5s ease;

   
   object-fit: cover;
  filter: grayscale(100%) contrast(120%);
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.filitergray:hover{
   -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
	opacity: 1 !important;
	
	
	box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}*/

.containercustom{
	display: inline-block;
    padding-left: 60px;
    padding-right: 60px;
	    width: 100%;
}
/* ../section 2 */

/* section 3 */
#section3{
	min-height:500px;
	position: relative;
}

#section3 h2{
	text-align:center;
	    margin-bottom: 40px;
}

#section3 .skystar{
    right: 2rem;
    width: 22.2rem;
    height: 45rem;
    opacity: 0.4;

    /* background-repeat: no-repeat; */
    transform: rotate(716deg);
    background-position: 56px 11px;
	top: -9rem;
	background-image: url(images/bluestars-sect5.png);
}

#section3 .skystar + .skystar{
	opacity:0.8;
	-webkit-filter: contrast(2000);
    filter: contrast(2000);
	    right: 28rem;
    top: -2rem;
}
#section3 .skystar.red{
	background-image: url(images/redstars-sec5.png);
    right: 2rem;
    transform: rotate(0deg);
    top: 11rem;
    width: 23rem;
    height: 40rem;
	position:absolute;
	opacity:0.8;
	
}


/* dashed line blue section3 */

.dashedline{
     position: absolute;
    left: 0rem;
    width: 100%;
    z-index: 99999;
    /* height: 3px; */
        top: 30rem;
    display: inline-block;
    overflow: hidden;
	
}


.arccontainer{
    position: relative;
    display: inline-block;
    left: 0rem;
    transform: rotate(50deg);
    height: 31rem;
    overflow: hidden;
}


.arccontainer1{
    position: relative;
    display: inline-block;
    left: -3.2rem;
    transform: rotate(88deg);
    height: 14rem;
    overflow: hidden;
    top: -10.1rem;
}

.arccontainer2{
    position: relative;
    display: inline-block;
    left: 0rem;
    transform: rotate(-110deg);
    height: 25rem;
    overflow: hidden;
    top: -2rem;
}


.arccontainer3{
    position: relative;
    display: inline-block;
    left: 27rem;
    transform: rotate(73deg);
    height: 31rem;
    overflow: hidden;
    top: -5rem;
}

.arccontainer4{
    position: relative;
    display: inline-block;
    left: 38rem;
    transform: rotate(-96deg);
    height: 31rem;
    overflow: hidden;
    top: -6rem;
}


.arccontainer5{
position: relative;
    display: inline-block;
    left: 38.6rem;
    transform: rotate(-162deg);
    height: 32rem;
    overflow: hidden;
    top: -12.8rem;
}

.icon1{
    position: absolute;
    top: 13rem;
    left: 30.5rem;
}


.icon2{
    position: absolute;
    top: 9rem;
    left: 66rem;
    transform: rotate(8deg) !important;
}


.icon3{
    position: absolute;
    top: 6.5rem;
    left: 107.6rem;
}

.arcContain {
    width:150px;
    height:400px;
    position: relative;
    margin: 20px;
}
.arc {
    width:250px;
    height:400px;
    border-radius:50%;
    border:2px dashed #4EA9E0;
    border-bottom: 2px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.archideLeft .arc {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
}
.archide {
    width:50%;
    height:0%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    -webkit-animation: appear 1.2s ease-in 1.2s forwards;
    -moz-animation: appear 1.2s ease-in 1.2s forwards;
    -o-animation: appear 1.2s ease-in 1.2s forwards;
    animation: appear 1.2s ease-in 1.2s forwards;
}
.archideLeft {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    -webkit-animation: appear 1.2s ease-out forwards;
    -moz-animation: appear 1.2s ease-out forwards;
    -o-animation: appear 1.2s ease-out forwards;
    animation: appear 1.2s ease-out forwards;
}
@-webkit-keyframes appear {
    to {
        height: 100%;
    }
}
@-moz-keyframes appear {
    to {
        height: 100%;
    }
}
@-o-keyframes appear {
    to {
        height: 100%;
    }
}
@keyframes appear {
    to {
        height: 100%;
    }
}

/* end dashed line */




/* bubbles style */
.bubbles-container1{
	/*
position: absolute;
    top: 10rem;
    display: inline-block;
    max-width: 1200px;
    left: 13rem;
    min-height: 200px;
    width: 100%;
	*/
	
	    position: relative;
    top: -18rem;
    display: inline-block;
    max-width: 1400px;
    /* left: 13rem; */
    min-height: 200px;
    width: 100%;
    float: none;
    margin: auto;
    display: block;
}

.bubble{
	background:url('images/bubles.png');
	    background-repeat: no-repeat;
    background-size: contain;
	    width: 220px;
    height: 220px;
    position: absolute;
}


.bubblemobile{
	background:url('images/bubles.png');
	    background-repeat: no-repeat;
    background-size: contain;
	    width: 220px;
    height: 220px;
	display: inline-block !important;

}

.bubblemobile .bubbleicon {
    float: left;
    width: 100%;
    text-align: left;
}

.carousel-control.right , .carousel-control.left{
	background:none !important;
}

.carousel-indicators .active, .carousel-indicators li:hover {
    background-color: #4EA9E0 !important;
}

.carousel-indicators li {
    background-color: #ccc !important;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}


.carousel-indicators{
	    top: 100%;
}
#bubble1{
	top: 28rem;
    left: 23rem;
}


#bubble2{
	left: 63rem;
	top: 20rem;
}


#bubble3{
    top: 28rem;
    left: 105rem;
}

#bubble4{
    top: 5rem;
    left: 2rem;
    z-index: 99999;
}

#bubble5{
    left: 75rem;
    z-index: 99999;
    top: 0rem;
}

.clear{
	    clear: both;
    width: 100%;
    display: inline-block;
    min-height: 150px;
}

.btn-container{
	text-align:center;
	margin-bottom:30px;
	min-height:150px;
}


 

.bubbles-container2{
	/*
	position: absolute;
    top: 55rem;
    display: inline-block;
    max-width: 1200px;
    left: 13rem;
    min-height: 200px;
    width: 100%;*/
	
	    position: relative;
    top: 13rem;
    display: inline-block;
    max-width: 1400px;
    left: auto;
    min-height: 200px;
    width: 100%;
    float: none;
    margin: auto;
    display: block;
}


.bubbleicon{
	
}
.bubblecounter h2:before{
	content:"+";
}

.bubblecounter h2{
	letter-spacing: 0;
color: #E94150;
font-family: 'Raleway-Bold';
font-size:32px;
    margin-bottom: 10px !important;
    margin-top: 0px !important;
	font-weight:bold;
}


.bubbledesc{
	    text-align: center;
    display: inline-block;
    width: 100%;
	letter-spacing: 0;
color: #505050;
font-family: 'Mukta-Regular';
font-size:18px;
}
/* ../bubbles style */

#section4{
min-height: 540px;
    position: relative;
    background: url(images/bg-sec3.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
	text-align: center;
}

#section4 h2{
	
	text-align: center;
    margin-bottom: 27px;
	text-transform: capitalize;
	
}

#section4 .desc{
	color:#707070;
	font-size:20px;
	letter-spacing: 0;
	line-height:35px;
	text-align:center;

    float: none;
    margin: auto;
	margin-bottom: 5rem;
}


.box1-sect4 , .box2-sect4 , .box3-sect4 , .box4-sect4
{

	background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 13px #6464641C;
    border-radius: 10px;
    /* width: 300px; */
    max-width: 23%;
    height: 212px;
    margin-right: 1.5rem;
    padding-top: 32px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    float: none;
    /* display: inline-block; */
    vertical-align: top;
    float: left;

}

#section4 #icon{
    float: left;
    width: 52px;
    height: 52px;
    margin-right: 15px;
    margin-left: 10px;
}

#section4 #icon img{
	 max-width: 100%;
}

#section4 #title{
       width: 67%;
       max-width: 67%;
    height: 62px;
    font-family: 'Mukta-SemiBold';
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    text-align: left;
    color: #2671a7;
    float: left;
}

#section4 #additionalimages{
	    display: inline-block;
    width: 100%;
    max-width: 100%;
	text-align:center;
}

#section4 #additionalimages img{
	
    display: inline-block;
    margin-right: 9px;
    vertical-align: middle;
	width: auto !important;
	    max-width: 19%;
	/*
	animation: float 3s ease-out infinite;*/
}
/*
#section4 #additionalimages img:hover{
	animation: shrink 3s ease-out infinite;
	transform-origin: center center;
  ellipse {
    transform-origin: center center;
  }
	
}*/

#section4 hr{
    float: left;
    width: 100%;	
}

.box4-sect4  #title{
	    line-height: 60px;
}
 
#sec4btn{
	 
	    margin-top: 30px; 
 }
 
#section4 .skystar{
	height:3rem;
}

#section4 .skystar{
	background-image: url(images/redstars-sec53.png);
    transform: rotate(0deg);
    left: 38rem;
    height: 17rem;
    background-size: 100% 100%;
    top: 0rem;
    position: absolute;
    width: 29rem;
    background-repeat: repeat-y;
}
 
 /* additiona images animation */
 @keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}
.shadowFrame {
  width: 130px;
  margin-top: 15px;
}


@keyframes shrink {
  0% {
    width: 60%;
    margin: 0 5%;
  }
  50% {
    width: 30%;
    margin: 0 18%;
  }
  100% {
    width: 60%;
    margin: 0 5%;
  }
}
 /* ../additiona images animation */



/* snow animation */
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}

@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}

.snowflake{
	position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;
-webkit-animation-duration:10s,3s;
-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;
-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;
animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;
animation-play-state:running,running;
color:#eaa8ad;
}

.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* ../snow animation */
/* ../section 3 */



/* section5 */
#section5:before{
    content: "";
    min-height: 1000px;
    position: relative;
    background: url(images/sec4-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: -1;
}

#section5{
	min-height: 800px;
}

#shortdesc{
	text-align: center;
 font-family: 'Mukta-Regular';
letter-spacing: 0;
color: #707070;
font-size:19px;
}

#section5 h2{
	text-align:center;
	    text-transform: capitalize;
}


#readmore2{
border: 1px solid #4EA9E0;
    border-radius: 22px;
    width: 110px;
    height: 40px;
    color: #4EA9E0;
    float: left;
    text-align: right;
    line-height: 40px;
    background: transparent;
    transition: transform 1.5s ease;
    font-family: 'Mukta-Regular';
}

#readmore2:after{
    content: "";
    background: url(images/next.png);
    width: 25px;
    height: 18px;
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    /* margin-top: 10px; */
    /* padding-top: 18px; */
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 5px;
}
#readmore2:hover{
	
	color:#fff;
	background:#4EA9E0;
}

#readmore2:hover:after{
	  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: brightness(5.25); /* IE5+ */

	    -webkit-filter: brightness(5.25);
}

#section5 #portfolio-desc p{
	color:#707070;
	line-height:23px;
	font-size:17px;
	text-align:left;	
}

/* item 1 */
#portfolio1{
    position: absolute;
    left: 49rem;
    max-width: 37%;
	    top: 2rem;
}
#portfolio-desc{
	    display: inline-block;
    vertical-align: top;
    max-width: 70%;
}

#portfolio1 #icon{
    float: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
    background-image: url(images/portfolio1border.png);
    background-size: contain;
    padding: 10px;
background-position: 41px 19px;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-left: 0px;
    min-height: 178px;
    transition: transform .5s ease;
    width: 24%;
    max-width: 24%;
}
#portfolio1 #icon img{
	max-width:100%;
	height: 140px;
	    border-top-left-radius: 8px;
}
#portfolio1 #icon:hover{
	 transform: scale(1.15);
}

#portfolio1 h1{
	/* standard gradient background */
    background: linear-gradient(280deg, #106EBF 0%, #4EA9E0 100%);
	font-family: 'Raleway-Bold';
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      font-size: 25px;
	margin-top:0px;
	
}
/* ../item 1 */


#portfolio2{
    position: absolute;
    left: 2rem;
    max-width: 37%;
	top:15rem;
}

#portfolio2 #icon{
    float: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
    background-image: url(images/portfolio2border.png);
    background-size: contain;
    padding: 10px;
background-position: 41px 19px;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-left: 0px;
    min-height: 178px;
    transition: transform .5s ease;
    width: 24%;
    max-width: 24%;
}

#portfolio2 #icon img{
	max-width:100%;
	height: 140px;
	    border-top-left-radius: 8px;
}

#portfolio2 #icon:hover{
	 transform: scale(1.15);
}

#portfolio2 h1{
	/* standard gradient background */
   background: transparent linear-gradient(103deg, #4EA9E0 0%, #29B79C 100%) 0% 0% no-repeat padding-box;
	font-family: 'Raleway-Bold';
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      font-size: 25px;
	margin-top:0px;
}



#portfolio3{
	
    position: absolute;
    left: 40rem;
    max-width: 37%;	
	top:30rem;
}

#portfolio3 #icon img{
	max-width:100%;
	height: 140px;
	    border-top-left-radius: 8px;
}

#portfolio3 #icon{
    float: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
    background-image: url(images/portfolio3border.png);
    background-size: contain;
    padding: 10px;
background-position: 41px 19px;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-left: 0px;
    min-height: 178px;
    transition: transform .5s ease;
    width: 24%;
    max-width: 24%;
}

#portfolio3 #icon:hover{
	 transform: scale(1.15);
}

#portfolio3 h1{
	/* standard gradient background */
   background: transparent linear-gradient(114deg, #4EA9E0 0%, #5A2770 100%) 0% 0% no-repeat padding-box;
	font-family: 'Raleway-Bold';
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      font-size: 25px;
	  margin-top:0px;
}


#portfolio4{
	
    position: absolute;
	left: 2rem;
    max-width: 37%;
	top:43rem;
}

#portfolio4 #icon img{
	max-width:100%;
	height: 140px;
	    border-top-left-radius: 8px;
}

#portfolio4 #icon{
    float: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
    background-image: url(images/portfolio4border.png);
    background-size: contain;
    padding: 10px;
background-position: 41px 19px;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-left: 0px;
    min-height: 178px;
    transition: transform .5s ease;
    width: 24%;
    max-width: 24%;
}

#portfolio4 #icon:hover{
	 transform: scale(1.15);
}

#portfolio4 h1{
	/* standard gradient background */
  background: transparent linear-gradient(97deg, #330105 0%, #E94150 100%) 0% 0% no-repeat padding-box;
	font-family: 'Raleway-Bold';
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      font-size: 25px;
	 margin-top:0px;
}

#portfolio5{
	
    position: absolute;
	left: 82rem;
    width: 37%;
    max-width: 37%;
	top:17rem;
}

#portfolio5 #icon img{
	max-width:100%;
	height: 140px;
	    border-top-left-radius: 8px;
}

#portfolio5 #icon{
    float: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
    background-image: url(images/portfolio5border.png);
    background-size: contain;
    padding: 10px;
background-position: 41px 19px;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-left: 0px;
    min-height: 178px;
    transition: transform .5s ease;
    width: 24%;
    max-width: 24%;
}

#portfolio5 #icon:hover{
	 transform: scale(1.15);
}

#portfolio5 h1{
	/* standard gradient background */
  background: transparent linear-gradient(251deg, #4EA9E0 0%, #E94150 100%) 0% 0% no-repeat padding-box;
	font-family: 'Raleway-Bold';
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      font-size: 25px;
	  margin-top:0px;
}

#portfolio6{
	
    position: absolute;
	left: 82rem;
    max-width: 37%;
	top:43rem;
}

#portfolio6 #icon img{
	max-width:100%;
	height: 140px;
	    border-top-left-radius: 8px;
}


#portfolio6 #icon{
    float: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
    background-image: url(images/portfolio6border.png);
    background-size: contain;
    padding: 10px;
 background-position: 41px 19px;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-left: 0px;
    min-height: 178px;
    transition: transform .5s ease;
    width: 24%;
    max-width: 24%;
}

#portfolio6 #icon:hover{
	 transform: scale(1.15);
}

#portfolio6 h1{
	/* standard gradient background */
 background: transparent linear-gradient(104deg, #4EA9E0 0%, #A8E04E 100%) 0% 0% no-repeat padding-box;
	font-family: 'Raleway-Bold';
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      font-size: 25px;
	  margin-top:0px;
}

/* ../ section5 */


/* section6 */
#section6{
 

    min-height: 850px;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
	    margin-top: 7%;
	/*
    padding-top: 27rem; */
    right: 0px;
    width: 100%;

}

#section6 h2{
	text-align:center;
	    text-transform: capitalize;
}

#section6 p{
text-align: center;
    max-width: 79%;
    float: none;
    margin: auto;
    font-size: 17px;
    text-indent: 15px;
    padding-left: 0rem;
    padding-right: 0rem;
    line-height: 24px;
}


#cloud6 p{
    width: 100%;
}


#cloud5 p{
   float: left;
   max-width: 82%;
}

#cloud1:before{
content: "";
    background: url(images/row1.png);
    background-repeat: no-repeat;
    width: 194px;
    height: 100px;
    position: absolute;
    top: -1rem;
    z-index: 0;
    left: 0rem;
    background-size: contain;
}


#cloud1:after{
    content: "";
    background: url(images/row2.png);
    background-repeat: no-repeat;
        width: 250px;
    height: 259px;
    position: absolute;
    top: 25rem;
    z-index: 0;
    left: -5rem;
    background-size: 100% 100%;
	background-size: contain;
}


#cloud1{
	position:absolute;
	left: 2rem;
    top: 3rem;
	background:url(images/cloud1.png);
	background-position: center;
	background-repeat: no-repeat;
	width:330px;
	max-width:330px;
	min-height:300px;
	max-height:300px;
	    padding-top: 7rem;
		    color: #707070;
	font-size: 17px;
	text-align:center;
	background-size: contain;
}

#cloud1 h1{
	text-align: center;
	color: #4EA9E0;
    font-size: 25px;
    line-height: 31px;
    max-width: 65%;
    float: none;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}




#cloud2{
position: absolute;
    left: 6rem;
    top: 33rem;
    background: url(images/cloud2.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 342px;
    /* max-width: 330px; */
    min-height: 400px;
    max-height: 400px;
    padding-top: 6rem;
    background-size: contain;
}

#cloud2 h1{
    text-align: center;
    color: #E94150;
    font-size: 25px;
    line-height: 31px;
    max-width: 65%;
    float: none;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

#cloud3:before{
content: "";
    background: url(images/row4.png);
    background-repeat: no-repeat;
    width: 218px;
    height: 100px;
    position: absolute;
    top: -7rem;
    z-index: 0;
    left: 3rem;
    background-size: contain;
}

#cloud3 p{
	    max-width: 100%;
	
}


#cloud3:after{
content: "";
    background: url(images/row3.png);
    background-repeat: no-repeat;
    width: 165px;
    height: 147px;
    position: absolute;
    top: 31rem;
    z-index: 0;
    left: 1.5rem;
    background-size: contain;
}

#cloud3{
position: absolute;
    left: 37rem;
    top: 12rem;
    background: url(images/cloud3.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    max-width: 300px;
    min-height: 310px;
    max-height: 310px;
    padding-top: 6rem;
    background-size: contain;
}


#cloud3 h1{
	text-align: center;
	color: #4EA9E0;
	font-size:23px;
	line-height:31px;
	max-width: 65%;
    float: none;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}


#cloud4:after{
    content: "";
    background: url(images/row5.png);
    background-repeat: no-repeat;
    width: 95px;
    height: 165px;
    position: absolute;
    top: 28rem;
    z-index: 0;
    left: 11rem;
    background-size: contain;
}

#cloud4{
    position: absolute;
    left: 67rem;
    top: 0rem;
    background: url(images/cloud4.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    max-width: 300px;
    min-height: 330px;
    max-height: 330px;
    padding-top: 6rem;
    background-size: contain;
}

#cloud4 h1{
	text-align: center;
	color: #E94150;
	font-size:23px;
	line-height:31px;
	max-width: 65%;
    float: none;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

#cloud5{
position: absolute;
    left: 64rem;
    top: 38rem;
    background: url(images/cloud5.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    padding-top: 6rem;
    background-size: contain;
}

#cloud5 h1{
	text-align: center;
	color:#4EA9E0;
	font-size:23px;
	line-height:31px;
	max-width: 65%;
    float: none;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 6rem;
}

#cloud5:after{
content: "";
    background: url(images/row6.png);
    background-repeat: no-repeat;
    width: 107px;
    height: 71px;
    position: absolute;
    top: 17rem;
    z-index: 0;
    left: 25rem;
    background-size: contain;
}


#cloud6{
position: absolute;
    left: 99rem;
    top: 0rem;
    background: url(images/cloud6.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 305px;
    max-width: 305px;
    min-height: 300px;
    max-height: 300px;
    padding-top: 6rem;
    background-size: contain;
}


#cloud6 h1{
	text-align: center;
	color: #4EA9E0;
	font-size:23px;
	line-height:31px;
	max-width: 65%;
    float: none;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}
#cloud6:after{
    content: "";
    background: url(images/row7.png);
    background-repeat: no-repeat;
    width: 42px;
    height: 138px;
    position: absolute;
    top: 28.5rem;
    z-index: 0;
    left: 11rem;
    background-size: contain;
}


#cloud7{
position: absolute;
        left: 99rem;
    top: 37rem;
    background: url(images/cloud7.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 295px;
    max-width: 320px;
    min-height: 310px;
    max-height: 310px;
    padding-top: 6rem;
    background-size: contain;
}


#cloud7 p{
	
	max-width: 81%;
	
}




#cloud7 h1{
	text-align: center;
	color: #E94150;
	font-size:23px;
	line-height:31px;
	max-width: 65%;
    float: none;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* ../ section6 */



@media only screen and (max-width:768px){
	
	.footerleftdiv , .footerrightdiv{display:none;}
	.maincontainer{padding-top: 38px;}
	
	#portfolio1 #icon , #portfolio2 #icon , #portfolio3 #icon , #portfolio4 #icon , #portfolio5 #icon , #portfolio6 #icon{
		
			    width: 100%;
			    max-width: 100%;
				float: none;
				    background-position: 88px 0px;
    margin: auto;
	    background-size: cover;
    margin-bottom: 20px;
	background: none;
	}
	
	#portfolio1 #icon img , #portfolio2 #icon img , #portfolio3 #icon img , #portfolio4 #icon  img, #portfolio5 #icon img, #portfolio6 #icon img{
		  width: 100%;
    max-width: 100%;
	height: auto;
	}
	
	#textpart .skystar{
		display:none;
	}
	
	#section1 .maintitle{
	    margin-top: inherit;
    text-align: center;	
	}
	
	#section1 p{
		text-align: center;	
	}
	
	#aboutimgintro  , .star  , .snowflake , .dashedline{
		display:none;
	}
	.photo{
		   position: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
    padding: 10px;
	    height: 90px;
	}
	
	.skystar{
		z-index: -1;
	}
	
	.photo:hover img, .photo:hover .glow-wrap {
    margin-top: initial;
}


.containercustom {
    padding-left: inherit;
    padding-right: inherit;
 
}

#section3 {
    min-height: auto;
}

.clear{
	min-height: 80px;
}

.box1-sect4, .box2-sect4, .box3-sect4, .box4-sect4{
	    margin-bottom: 20px;
}

#portfolio1 , #portfolio2 , #portfolio3 , #portfolio4 , #portfolio5 , #portfolio6{
    position: relative;
    left: auto;
    width: 100%;
    max-width: 100%;
    top: auto;
	margin-bottom:20px;
	display: inline-block;
}

#section5 {
    min-height: auto;
}

#cloud2 h1 , #cloud3 h1 , #cloud1 h1 , #cloud7 h1 , #cloud4 h1 , #cloud6 h1{
	        margin-top: inherit;
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}


.inputform3 , .form .inputform2{
	
	    width: 100%;
	    margin-bottom: 3rem;
}


#portfolio1 h1 , #portfolio5 h1 , #portfolio2 h1 , #portfolio3 h1 , #portfolio4 h1 , #portfolio6 h1{
	    margin-top: 0px;
    font-size: 24px;
}

#section5 #portfolio-desc p{
	    font-size: 14px;
}

#readmore2{
	float:right;
height: 35px;
border: 0px;
    line-height: 35px;
}
#readmore2:after{
	margin-top:8px;
}

#portfolio-desc{
	    height: auto;
    display: inline-block;
   width: 100%;
    max-width: 100%;
	    margin-bottom: 10px;
}

#cloud1:before , #cloud1:after , #cloud4:after, #cloud5:after ,#cloud6:after , #cloud3:after , #cloud3:before{
	display:none;
}
#cloud1 , #cloud2  , #cloud3  , #cloud4  , #cloud5  , #cloud6  , #cloud7{
	position: inherit;
    left: auto;
    top: auto;
	width: 100%;
    max-width: 100%;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3eff8+0,e3eff8+23,fae0e2+81,fae0e2+100 */
background: #e3eff8; /* Old browsers */
background: -moz-linear-gradient(top,  #e3eff8 0%, #e3eff8 23%, #fae0e2 81%, #fae0e2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e3eff8 0%,#e3eff8 23%,#fae0e2 81%,#fae0e2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e3eff8 0%,#e3eff8 23%,#fae0e2 81%,#fae0e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eff8', endColorstr='#fae0e2',GradientType=0 ); /* IE6-9 */

	min-height: auto;
    max-height: inherit;
    padding-top: auto;
	margin-bottom:20px;
	    padding: 20px;
    border-radius: 5px;
    color: #707070;
	text-align: left;
	    display: inline-block;
}
#cloud5 h1{
	        margin-top: inherit;
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}
#section6 p{
	text-align: left;
	    text-indent: 0;
	    font-size: 17px;
		    max-width: 100%;
			    padding-left: inherit;
    padding-right: inherit;
}





body:before{

    background: url(images/homemobilebg.png);
	background-repeat: no-repeat;
    background-size: 100%;
}
#section1{
	  padding-top: 20px; 
}

#section4{
	background:none;
}
#section5:before{
	background:none;
}

.maintitle{
		    font-size: 25px; 
	 }
.box1-sect4, .box2-sect4, .box3-sect4, .box4-sect4{
	    width: 100%;
    max-width: 100%;
}
#section4 #title{
	font-size: 18px;
	    width: 60%;
	    max-width: 60%;
}
#section4 #icon{
	    width: 25%;
		max-width: 25%;
}

.star , .skystar{
	display:none;
}

.navbar-nav{
		     padding-left: 0px;
    display: inline-block;
    width: 100%;
	 }
	 
	 .photo img{
		    max-width: 100%;
			    margin-top: 0;
				transition: inherit;
}

#sec4btn {
    margin-top: 30px;
    height: 40px;
}

#section6{
	min-height: auto;
}

}


@media only screen and (max-width:400px){
#section4 #additionalimages img{
	    max-width: 34px;
}

#portfolio1 #icon, #portfolio2 #icon, #portfolio3 #icon, #portfolio4 #icon, #portfolio5 #icon, #portfolio6 #icon {
    margin-right: 0;
    max-width: 100%;
	float: none;

}

#portfolio-desc {
    height: 100%;
    display: inline-block;
    float: left;
    max-width: 100%;
}

#readmore2 {
    float: right;
}
	

	
	div#section2 {
    min-height: auto;
    position: relative;
    margin-top: 4rem;
}
}





