
@font-face {
  font-family: 'Raleway-Bold';
  src: url('fonts/Raleway-Bold.eot');
  src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg'),
       url('fonts/Raleway-Bold.ttf') format('truetype'),
       url('fonts/Raleway-Bold.woff') format('woff'),
       url('fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta-Bold';
  src: url('fonts/Mukta-Bold.eot');
  src: url('fonts/Mukta-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Bold.svg#Mukta-Bold') format('svg'),
       url('fonts/Mukta-Bold.ttf') format('truetype'),
       url('fonts/Mukta-Bold.woff') format('woff'),
       url('fonts/Mukta-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta-SemiBold';
  src: url('fonts/Mukta-SemiBold.eot');
  src: url('fonts/Mukta-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-SemiBold.svg#Mukta-SemiBold') format('svg'),
       url('fonts/Mukta-SemiBold.ttf') format('truetype'),
       url('fonts/Mukta-SemiBold.woff') format('woff'),
       url('fonts/Mukta-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Mukta-Regular';
  src: url('fonts/Mukta-Regular.eot');
  src: url('fonts/Mukta-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Regular.svg#Mukta-Regular') format('svg'),
       url('fonts/Mukta-Regular.ttf') format('truetype'),
       url('fonts/Mukta-Regular.woff') format('woff'),
       url('fonts/Mukta-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta-Medium';
  src: url('fonts/Mukta-Medium.eot');
  src: url('fonts/Mukta-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Medium.svg#Mukta-Medium') format('svg'),
       url('fonts/Mukta-Medium.ttf') format('truetype'),
       url('fonts/Mukta-Medium.woff') format('woff'),
       url('fonts/Mukta-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body{
	    overflow-x: hidden;
}


p{
	font-family: 'Mukta-Regular';
	color:#707070;
	letter-spacing: 0;
}


.maintitle{
font-family: 'Raleway-Bold';
		color:#4EA9E0;
		font-size:40px;
		margin-bottom: 20px;	
}

.maintitle span {
    color: #E94150;
}

nav{
	
	position: relative;
    z-index: 1;
}

#section1{
	z-index: 0;
    position: relative;
	margin-bottom:2%;
}

#pagetitle {
    height: 444px;
    background: url(images/portfolio/sec1.png);
    position: relative;
background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-color: white;
	/*
	  -webkit-animation: zoomout 10s ease-in infinite;
  animation: zoomout 10s ease-in infinite;
  transition: all .5s ease-in-out;*/
  
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
  50% {transform: scale(1.1);     box-shadow: 0px 0px 500px 90px #fff; text-shadow: 0 0 70px #ffffff; }
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
}
@keyframes zoomin {
  0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0; }
  50% {transform: scale(1.1);     box-shadow: 0px 0px 500px 90px #fff; text-shadow: 0 0 70px #ffffff; }
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
  50% {transform: scale(0.67);    box-shadow: 0px 0px 500px 90px #fff; text-shadow: 0 0 70px #ffffff; -webkit-filter: contrast(1.12);
  filter: contrast(1.12);}
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
}
@keyframes zoomout {
    0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
  50% {transform: scale(0.67);     box-shadow: 0px 0px 500px 90px #fff; text-shadow: 0 0 70px #ffffff; -webkit-filter: contrast(1.12);
  filter: contrast(1.12);}
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
}/*End of Zoom out Keyframes */

#pagetitle h2{
    letter-spacing: 0;
    color: #4EA9E0;
    font-size: 60px;
    font-family: 'Raleway-Bold';
    top: 17rem;
    position: absolute;
    left: 5.3rem;

}

#intro 
{
	
	    margin-top: 9rem;
}
#intro p{
	letter-spacing: 0;
color: #707070;
font-size:21px;
}



/* section3 */
#section3 h2{
	text-align:center;
}

#section3  p{
    max-width: 96%;
    float: none;
    margin: auto;
    text-align: center;
    letter-spacing: 0;
    color: #707070;
    height: 135px;
    line-height: 44px;
    font-size: 21px;
}


.containercustom{
max-width: 100%;
    float: none;
    margin: auto;
	margin-top:3%;
	text-align: center;
}
/* ../section3 */
.item
{
	     
	      max-width: 28%;  
		      display: inline-block;
    vertical-align: top;
}
.item div {
	position:relative;
	border-radius: 15px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.16);

/*
width: 32%;
display:inline-block;
*/
height: 220px;
margin:6px;

overflow: hidden;
    border-radius: 15px;
	    margin-bottom: 28px;

}

.item div img
{
	 
	transition: transform .5s ease;
}

.item div:hover img {
    transform: scale(1.5);
}


.item div span{
	opacity: 0.66;
	top:0;
	
border-radius: 5px;
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    height: 100%;
	border-radius: 15px;
	text-align:left;
	padding:20px;
	color:#fff;
	font-size:30px;
	 font-family: 'Raleway-Bold';
}

.item div span img{
	    position: relative;
    vertical-align: middle;
    margin-top: 38%;
		
	    height:auto;
    width: auto;
	max-width:100%;
}



/*
.item div:nth-child(1) span{
background: transparent linear-gradient(180deg, #E94150 0%, #E94150BF 48%, #E9415000 100%) 0% 0% no-repeat padding-box;
opacity: 0.67;

}*/
/*

.item div:nth-child(2) span{
background: transparent linear-gradient(180deg, #4EA9E0 0%, #4EA9E0D5 48%, #4EA9E000 100%) 0% 0% no-repeat padding-box;
opacity: 0.67;

}



.item div:nth-child(3) span{
background: transparent linear-gradient(180deg, #E94150 0%, #E94150BF 48%, #E9415000 100%) 0% 0% no-repeat padding-box;
opacity: 0.67;

}



.item div:nth-child(4) span{
background: transparent linear-gradient(180deg, #4EA9E0 0%, #4EA9E0D5 48%, #4EA9E000 100%) 0% 0% no-repeat padding-box;

}*/
/*

.item div:nth-child(5) span{
background: transparent linear-gradient(180deg, #E94150 0%, #E94150BF 48%, #E9415000 100%) 0% 0% no-repeat padding-box;

}

.item div:nth-child(6) span{
background: transparent linear-gradient(180deg, #4EA9E0 0%, #4EA9E0D5 48%, #4EA9E000 100%) 0% 0% no-repeat padding-box;

}

.item div:nth-child(7) span{
background: transparent linear-gradient(180deg, #E94150 0%, #E94150BF 48%, #E9415000 100%) 0% 0% no-repeat padding-box;

}


.item div:nth-child(8) span{
background: transparent linear-gradient(180deg, #4EA9E0 0%, #4EA9E0D5 48%, #4EA9E000 100%) 0% 0% no-repeat padding-box;

}



.item div:nth-child(9) span{
background: transparent linear-gradient(180deg, #E94150 0%, #E94150BF 48%, #E9415000 100%) 0% 0% no-repeat padding-box;

}


.item div:nth-child(10) span{
background: #4EA9E0 0% 0% no-repeat padding-box;
opacity: 0.67;

}
*/


#section3{
	margin-bottom: 4%;
}

.carousel-control{
bottom: 0;
    /* left: -89px !important; */
    z-index: 99999 !important;
    top: 0px;
}

.carousel-control.right{
left: 95% !important;
	top: 0px;
}

.carousel-control.right  , .carousel-control.left{
	background: none !important;
	position: relative;
}

.glyphicon-chevron-left:before {
    content: "\e079";
    color: #4EA9E0;
    opacity: 1;
    /* font-size: 10px; */
}

.glyphicon-chevron-right:before {
    content: "\e080";
	 color: #4EA9E0;
    opacity: 1;
}

.carousel-indicators li {
	background-color: #ccc !important;
}

.carousel-indicators .active  , .carousel-indicators li:hover{
	 background-color: #4EA9E0 !important;
}



.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-indicators .active, .carousel-indicators li:hover {
    background-color: #4EA9E0 !important;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}

#filiter ul{
	    max-width: 55%;
    float: none;
    margin: auto;
    list-style: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 33px;
       position: relative;
    display: inline-block;
	padding:0px;
}

#filiter ul li{
	display:inline-block;
	vertical-align:top;
    width: 145px;
    height: 66px;
    line-height: 68px;
   border-right:1px solid #ddd;
   text-align:center;
       float: left;
	   position:relative;
	   text-indent: 20px;
}

#filiter ul li:hover  , #filiter ul li.active {
	background: transparent linear-gradient(242deg, #4EA9E098 0%, #E9415098 100%) 0% 0% no-repeat padding-box;
	color:#fff;
}

#filiter ul li:nth-child(1):hover  , #filiter ul li.active:nth-child(1) {
	
	border-radius: 33px 0px 0px 33px;
	
}


#filiter ul li:nth-child(4):hover  , #filiter ul li.active:nth-child(4) {
	
	border-radius: 0px 33px 33px 0px;
	text-decoration: none;
	
}




#filiter ul li:last-child{
	border:0px;
}

#filiter ul li:nth-child(1):after{
    content: "";
    width: 29px;
    height: 29px;
    background: url(images/portfolio/icon1.png);
    float: left;
    background-position: 0px 0px;
    position: absolute;
    left: 35px;
    top: 18px;
    z-index: 999999;
    background-size: contain;
	    background-repeat: no-repeat;
		display:none;
}


#filiter ul li:nth-child(2):after{
    content: "";
    width: 29px;
    height: 29px;
    background: url(images/portfolio/item10.png);
    float: left;
    background-position: 0px 0px;
    position: absolute;
    left: 25px;
    top: 18px;
    z-index: 999999;
    background-size: contain;
	    background-repeat: no-repeat;
		display:none;
}

#filiter ul li:nth-child(3):after{
    content: "";
    width: 29px;
    height: 29px;
    background: url(images/portfolio/item11.png);
    float: left;
    background-position: 0px 0px;
    position: absolute;
    left: 25px;
    top: 18px;
    z-index: 999999;
    background-size: contain;
	    background-repeat: no-repeat;
		display:none;
}


#filiter ul li:nth-child(4):after{
    content: "";
    width: 29px;
    height: 29px;
    background: url(images/portfolio/item12.png);
    float: left;
    background-position: 0px 0px;
    position: absolute;
    left: 20px;
    top: 18px;
    z-index: 999999;
    background-size: contain;
	    background-repeat: no-repeat;
		display:none;
}

#filiter ul li:hover:after{

}

#filiter ul li a{
font-size: 20px;
    letter-spacing: 0;
    color: #707070;
    width: 100%;
    display: inline-block;
    padding: 0px;
    float: left;
	    position: absolute;
    left: 0;
	    text-align: left;
}
#filiter ul li a img{
	margin-right:18px;
}
#filiter ul li:hover a , #filiter ul li.active a{
	/*color:#fff;*/
	/* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: brightness(5.25); /* IE5+ */

	    -webkit-filter: brightness(5.25);
	text-decoration: none;
}
/* snow animation */
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}

@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}

.snowflake{
	position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;
-webkit-animation-duration:10s,3s;
-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;
-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;
animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;
animation-play-state:running,running;
color:#eaa8ad;
}

.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* ../snow animation */

@media only screen and (max-width:768px){


	
	#filiter ul{
		    max-width: 100%;
	}
	
	#filiter ul li{
		width: auto;
		    min-width: 60px;
	}
	#filiter ul li a span{
		display:none;
	}
	
	#filiter ul li:nth-child(1):after{
		left: 20px;
	}
	
	#filiter ul li:nth-child(2):after{
		left: 18px;
	}
	
	#filiter ul li:nth-child(3):after{
		left: 20px;
	}
	
	.item {
			width:100%;
			max-width:100%;
			height:auto;
	}
	
	
	#filiter ul li a img {
    margin-right: auto;
    position: relative;
    left: -7px;
}


#filiter ul li a {
	text-align:center;
}
	
body:before{

    background: url(images/innerpagesmobile.png);
	background-repeat: no-repeat;
    background-size: 100%;
	
	content: "";
    width: 100%;
   min-height: 938px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: 0px;
}

}


@media only screen and (max-width:400px){
	

	 
 }
