
@font-face {
  font-family: 'Raleway-Bold';
  src: url('fonts/Raleway-Bold.eot');
  src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg'),
       url('fonts/Raleway-Bold.ttf') format('truetype'),
       url('fonts/Raleway-Bold.woff') format('woff'),
       url('fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta-Bold';
  src: url('fonts/Mukta-Bold.eot');
  src: url('fonts/Mukta-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Bold.svg#Mukta-Bold') format('svg'),
       url('fonts/Mukta-Bold.ttf') format('truetype'),
       url('fonts/Mukta-Bold.woff') format('woff'),
       url('fonts/Mukta-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta-SemiBold';
  src: url('fonts/Mukta-SemiBold.eot');
  src: url('fonts/Mukta-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-SemiBold.svg#Mukta-SemiBold') format('svg'),
       url('fonts/Mukta-SemiBold.ttf') format('truetype'),
       url('fonts/Mukta-SemiBold.woff') format('woff'),
       url('fonts/Mukta-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Mukta-Regular';
  src: url('fonts/Mukta-Regular.eot');
  src: url('fonts/Mukta-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Regular.svg#Mukta-Regular') format('svg'),
       url('fonts/Mukta-Regular.ttf') format('truetype'),
       url('fonts/Mukta-Regular.woff') format('woff'),
       url('fonts/Mukta-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta-Medium';
  src: url('fonts/Mukta-Medium.eot');
  src: url('fonts/Mukta-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Medium.svg#Mukta-Medium') format('svg'),
       url('fonts/Mukta-Medium.ttf') format('truetype'),
       url('fonts/Mukta-Medium.woff') format('woff'),
       url('fonts/Mukta-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body{
	    overflow-x: hidden;
}


p{
	font-family: 'Mukta-Regular';
	color:#707070;
	letter-spacing: 0;
}


.maintitle{
font-family: 'Raleway-Bold';
		color:#4EA9E0;
		font-size:40px;
		margin-bottom: 20px;	
}

.maintitle span {
    color: #E94150;
}

#pagetitle{

height: 444px;
	
	position:relative;
background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 0px;
  
	/*  -webkit-animation: zoomin 10s ease-in infinite;
  animation: zoomin 10s ease-in infinite;
  transition: all .5s ease-in-out;*/
}

#section1{
background: url(images/portfolio/bbgg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    margin-bottom: 10%;
	position:relative;
}

#pagetitle h2{
letter-spacing: 0;
    color: #4EA9E0;
    font-size: 60px;
    font-family: 'Raleway-Bold';
    top: 25rem;
    position: absolute;
    left: 4rem;
}

#intro 
{
	
	    margin-top: 9rem;
}
#intro p{
	letter-spacing: 0;
color: #707070;
font-size:21px;
}


.leave1{
	background:url(images/portfolio/leav4.png);
	 background-size: cover;
    background-repeat: no-repeat;
	position:absolute;
	
	 -webkit-animation:shake 6s cubic-bezier(.36,.07,.19,.97) both infinite;
  animation: shake 6s cubic-bezier(.36,.07,.19,.97) both infinite;
  transition: all .5s ease-in-out;
  
      width: 50px;
    height: 100px;
    top: 19.9rem;
    left: 35rem;
	z-index: 0;
}

.leave2{
	background:url(images/portfolio/leav2.png);
	 background-size: cover;
    background-repeat: no-repeat;
	position:absolute;
	 -webkit-animation: shake 10s cubic-bezier(.36,.07,.19,.97) infinite;
  animation: shake 10s cubic-bezier(.36,.07,.19,.97) infinite;
  transition: all .5s ease-in-out;
      width: 36px;
    height: 82px;
    top: 21rem;
    left: 37rem;
	z-index: 1;
}


.leave3{
	background:url(images/portfolio/leav1.png);
	 background-size: cover;
    background-repeat: no-repeat;
	position:absolute;
	 -webkit-animation: zoomin 0.7s ease-in infinite;
  animation: zoomin  0.7s ease-in infinite;
transition: all .5s ease-in-out;
    width: 37px;
    height: 55px;
    top: 24rem;
    left: 39rem;
    z-index: 0;
}


#smallappimg{
position: relative;
    background: url(images/portfolio/bg1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    min-height: 500px;
}

#smallappimg span{
	height: 158px;
text-align: left;
letter-spacing: 6.9px;
color: #E94150;
text-transform: uppercase;
opacity: 0.19;
font-family: 'Raleway-Bold';
font-size:110px;
position:absolute;
z-index:-1;
}

#section2 p{
	font-size:25px;
text-align: left;
letter-spacing: 0;
color: #707070;
}

#section3 img{
		max-width:100%;
}

#section3 #mainimg:before{
    content: "";
    position: absolute;
    background: url(images/portfolio/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 779px;
    height: 680px;
    right: -19rem;
}


#section3 #mainimg span{
color: #4EA9E0;
    height: 173px;
    text-align: left;
    font-family: 'Raleway-Bold';
    letter-spacing: 6.9px;
    color: #4EA9E0;
    text-transform: uppercase;
    opacity: 0.19;
    font-size: 120px;
    position: absolute;
    right: -3rem;
    top: 20rem;
    z-index: -1;
}

#section3 ul{
	list-style:none;
}
#section3 ul li{
  color:#707070;
    font-size: 26px;
    max-width: 64%;
    margin-bottom: 4%;  
}

#section3 ul li:nth-child(2){
    padding-left: 14rem;
    width: 83%;
    max-width: inherit;	
}

#section3 ul li:nth-child(3){
	padding-left: 26rem;
    width: 100%;
    max-width: inherit;
}

#section3 ul li span{
	width: 39px;
height: 39px;
background: transparent linear-gradient(0deg, #106EBF 0%, #4EA9E0 100%) 0% 0% no-repeat padding-box;
color:#fff;
font-size: 20px;
    text-align: center;
    display: inline-block;
    float: left;
    border-radius: 36px;
    line-height: 35px;
    font-weight: bold;
	    vertical-align: top;
		margin-top: 10px;
}

#section3 , #section4{
	margin-bottom:3%;
}

#section3 ul li p{
	text-align: left;
font-family: 'Raleway-Bold';
letter-spacing: 0;
color: #4EA9E0;
display:inline-block;
    width: 90%;
    font-size: 44px;
    vertical-align: top;
	margin-left:2%;
}


#section4 p{
font-size: 19px;
    max-width: 90%;
    float: none;
    margin: auto;
    margin-bottom: 25px;
	    text-align: center;
}
/* snow animation */
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}

@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}

.snowflake{
	position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;
-webkit-animation-duration:10s,3s;
-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;
-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;
animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;
animation-play-state:running,running;
color:#eaa8ad;
}

.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* ../snow animation */



/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
  50% {transform: scale(1.1);     text-shadow: 0 0 70px #ffffff; }
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
}
@keyframes zoomin {
  0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0; }
  50% {transform: scale(1.1);      text-shadow: 0 0 70px #ffffff; }
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
  50% {transform: scale(0.67);     text-shadow: 0 0 70px #ffffff; -webkit-filter: contrast(1.12);
  filter: contrast(1.12);}
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
}
@keyframes zoomout {
    0% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
  50% {transform: scale(0.67);      text-shadow: 0 0 70px #ffffff; -webkit-filter: contrast(1.12);
  filter: contrast(1.12);}
  100% {transform: scale(1); text-shadow: 0 0 70px #4EA9E0;}
}/*End of Zoom out Keyframes */


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


@media only screen and (max-width:768px){
	
	.maintitle , #section3 ul li p{    font-size: 25px; max-width:100%;}
	#intro p , #section4 p , #section2 p , #section3 ul li{font-size: 18px;}
	.maincontainer{padding-top: 38px;}
/*	.container-fluid , .container {
    padding-right: 40px;
    padding-left: 40px;
}
*/

.navbar-nav{
		     padding-left: 0px;
    display: inline-block;
    width: 100%;
	 }
.inputform3 , .form .inputform2{
	
	    width: 100%;
	    margin-bottom: 3rem;
}
ul.social{
	padding-left: 0px;
}
#rightpart{
	    text-align: center;
}

.social {
    text-align: center;
    float: right;
    width: 100%;
    max-width: 100%;
}

	.leave1 , .leave2 , .leave3{
		display:none;
	}
	#pagetitle{
		display:none;
	}
	
	#section1{
		background:none;
	}
	#section3 ul{
			padding-left:0px;
	}
	
	#section3 ul li{
		width:100%;
		    max-width: 100%;
	}
	
	#intro {
    margin-top: 0;
    text-align: left;
}
	#section3 ul li:nth-child(2) , #section3 ul li:nth-child(3){
		padding-left: inherit;
		width:100%;
		    max-width: 100%;
	}
	
	.form:before{
	display:none;
}

.form{
	    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
	margin-bottom:20px;
}

#map1 , #map2{
	background: none;
	box-shadow: 0px 0px 10px #ccc;
    padding: 20px;
	display: inline-block;
	margin-bottom: 20px;
	    min-height: auto;
    height: auto;
	border-radius: 17px;
}

#map2:before , #map1:before
{
display:none;
}



#map2 #title:before , #map2 #title:before
{
	content: "";
    background: url(images/placeholder.png);
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    position: absolute;
    top:  0;
    left: 0;
    float: left;
    display: inline-block;
}
#map2 #title , #map1 #title{
	text-align: left;
    width: 100%;
    padding-left: 40px;
}

#map2 #desc , #map1 #desc{
	
	padding-left: 40px;
    text-align: left;

}

#map2 .inner  , #map1 .inner {
    position: inherit;
    bottom: auto;
    float: left;
	    
	text-align:center;	
}


#paragraph1 {
    position: inherit;
    font-size: 20px;
    bottom: auto;
    max-width: 100%;
    text-align: center;
    left: auto;
}

#paragraph2 {
    position: inherit;
    font-size: 20px;
    bottom: auto;
    max-width: 100%;
    text-align: center;
    left: auto;
}

#map1 #btnblue , #map2 #btnblue , .form #btnblue
{
	
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4aa6de+0,1471c1+100 */
background: #4aa6de; /* Old browsers */
background: -moz-linear-gradient(top,  #4aa6de 0%, #1471c1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4aa6de 0%,#1471c1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4aa6de 0%,#1471c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa6de', endColorstr='#1471c1',GradientType=0 ); /* IE6-9 */

    color: #fff !important;
	
}


footer{
	text-align: center;
	    max-height: inherit;
}


#leftpart ul{
	column-count: 1;
}

.form p , .form h3{
    text-align: center;
}

.form h3{
	font-size: 27px;
}

#pagetitle{
background:none;	
    -webkit-animation: none;
    animation: none;
	height:auto;
}


	
	#pagetitle h2{
		left: auto;
		top: auto;
    position: relative;
    font-size: 40px;
	}

body:before{

    background: url(images/innerpagesmobile.png);
	background-repeat: no-repeat;
    background-size: 100%;
	
	content: "";
    width: 100%;
   min-height: 938px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: 0px;
}

#pagetitle h2{
	    top: 10px;
    position: relative;
}

.footerleftdiv , .footerrightdiv{display:none;}


#smallappimg span{
	    font-size: 50px;
}


#smallappimg{
	    min-height: auto;
}

#section3 #mainimg span , #section3 #mainimg:before , #smallappimg span{
	display:none;
}

#smallappimg{
	background:none;
}

.navbar-nav{
		     padding-left: 0px;
    display: inline-block;
    width: 100%;
	 }
	 
	
}

@media only screen and (max-width:400px){
	.navbar-nav{
		     padding-left: 0px;
    display: inline-block;
    width: 100%;
	 }
		 	 #paragraph1 , #paragraph2 {
    position: inherit;
    font-size: 20px;
    bottom: inherit;
    max-width: 100%;
    text-align: center;
    left: inherit;
}
	 .form select , .inputform3{
		     width: 100%;
			     max-width: 100%;
	 }
	
	  .modal-content  , .modal-dialog{
		     max-width: 364px;
	 }
 }
