
@font-face {
  font-family: 'Raleway-Bold';
  src: url('fonts/Raleway-Bold.eot');
  src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg'),
       url('fonts/Raleway-Bold.ttf') format('truetype'),
       url('fonts/Raleway-Bold.woff') format('woff'),
       url('fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta-Bold';
  src: url('fonts/Mukta-Bold.eot');
  src: url('fonts/Mukta-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Bold.svg#Mukta-Bold') format('svg'),
       url('fonts/Mukta-Bold.ttf') format('truetype'),
       url('fonts/Mukta-Bold.woff') format('woff'),
       url('fonts/Mukta-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta-SemiBold';
  src: url('fonts/Mukta-SemiBold.eot');
  src: url('fonts/Mukta-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-SemiBold.svg#Mukta-SemiBold') format('svg'),
       url('fonts/Mukta-SemiBold.ttf') format('truetype'),
       url('fonts/Mukta-SemiBold.woff') format('woff'),
       url('fonts/Mukta-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Mukta-Regular';
  src: url('fonts/Mukta-Regular.eot');
  src: url('fonts/Mukta-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Regular.svg#Mukta-Regular') format('svg'),
       url('fonts/Mukta-Regular.ttf') format('truetype'),
       url('fonts/Mukta-Regular.woff') format('woff'),
       url('fonts/Mukta-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mukta-Medium';
  src: url('fonts/Mukta-Medium.eot');
  src: url('fonts/Mukta-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/Mukta-Medium.svg#Mukta-Medium') format('svg'),
       url('fonts/Mukta-Medium.ttf') format('truetype'),
       url('fonts/Mukta-Medium.woff') format('woff'),
       url('fonts/Mukta-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body{
	    overflow-x: hidden;
}


p{
	font-family: 'Mukta-Regular';
	color:#707070;
	letter-spacing: 0;
}


.maintitle{
font-family: 'Raleway-Bold';
		color:#4EA9E0;
		font-size:40px;
		margin-bottom: 20px;	
}

.maintitle span {
    color: #E94150;
}

#pagetitle{

height: 444px;
	background:url(images/servicestitle.png);
	position:relative;
background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-color: white;
	/*
	 -webkit-animation: zoomin 10s ease-in infinite;
  animation: zoomin 10s ease-in infinite;
  transition: all .5s ease-in-out;*/
}

#pagetitle h2{
    letter-spacing: 0;
    color: #4EA9E0;
    font-size: 60px;
    font-family: 'Raleway-Bold';
    top: 15rem;
    position: absolute;
    left: 7rem;
	color: #e94150;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
  50% {transform: scale(1.2);     box-shadow: 0px 0px  10px 10px #fff; text-shadow: 0 0 70px #ffffff; }
  100% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
}
@keyframes zoomin {
  0% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
  50% {transform: scale(1.2);     box-shadow: 0px 0px 10px  10px  #fff; text-shadow: 0 0 70px #ffffff;}
  100% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
  50% {transform: scale(0.67);    box-shadow: 0px 0px 10px 10px #fff; text-shadow: 0 0 70px #ffffff;}
  100% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
}
@keyframes zoomout {
    0% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
  50% {transform: scale(0.67);     box-shadow: 0px 0px  10px 10px  #fff; text-shadow: 0 0 70px #ffffff;}
  100% {transform: scale(1); text-shadow: 0 0 70px #FF0017;}
}/*End of Zoom out Keyframes */


#intro 
{
	
	    margin-top: 9rem;
}
#intro p{
	letter-spacing: 0;
color: #707070;
font-size:21px;
}


#mainimg{
	max-width:100%;
}

.subtitle{
	letter-spacing: 1.15px !important;
color: #4EA9E0 !important;
font-size:22px !important;
font-family: 'Raleway-Bold';
}

.addedimgs ul{
	list-style:none;
	padding:0px;
	 border-spacing:  .5em;
}



.addedimgs ul li{
display: table-cell;
    vertical-align: middle;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 22px #00000029;
    border-radius: 5px;
    opacity: 1;
    padding: 15px;
    text-align: center;
    margin-right: 20px;
    width: 149px;
    height: 74px;
	    float: left;
}


.addedimgs ul li img{
	
}

#section1{
	
	margin-bottom:4%;	
}
#section2{
    min-height: 600px;
    padding-top: 9%;
    position: relative;
	margin-bottom:4%;
}

#section2:before{
    content: "";
    background: url(images/services/sec1bg.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    width: 800px;
    position: absolute;
    left: -28rem;
    top: -5rem;
}

#section2 p{
	letter-spacing: 0;
color: #707070;
font-size:20px;
}

#section2 h2{
text-align: left;
letter-spacing: 1.84px;
color: #4EA9E0;
text-transform: uppercase;
max-width: 44%;
font-family: 'Raleway-Bold';
}



#section3 h2{
text-align: left;
letter-spacing: 1.84px;
color: #E94150;
text-transform: uppercase;
max-width: 44%;
font-family: 'Raleway-Bold';
}


#section3{
	  min-height: 600px;
    padding-top: 9%;
    position: relative;
	margin-bottom:10%;
}


#section3:before{
 content: "";
    background: url(images/services/sec4bg.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    width: 700px;
    position: absolute;
    right: -11rem;
    top: 3rem;
}

#section3 p{
	letter-spacing: 0;
color: #707070;
font-size:20px;
}





#section4{
	  min-height: 600px;
    padding-top: 9%;
    position: relative;
	margin-bottom:10%;
}


#section4:before{
 content: "";
    background: url(images/services/sec3bg.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 950px;
    width: 950px;
    position: absolute;
    left: -27rem;
    top: -20rem;
}

#section4 p{
	letter-spacing: 0;
color: #707070;
font-size:20px;
}




#section5{
	  min-height: 600px;
    padding-top: 9%;
    position: relative;
	margin-bottom:10%;
}


#section5:before{
 content: "";
    background: url(images/services/sec4bg.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    width: 800px;
    position: absolute;
    right: -15rem;
    top: -14rem;
}

#section5 p{
	letter-spacing: 0;
color: #707070;
font-size:20px;
}


/* snow animation */
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}

@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}

.snowflake{
	position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;
-webkit-animation-duration:10s,3s;
-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;
-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;
animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;
animation-play-state:running,running;
color:#eaa8ad;
}

.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* ../snow animation */


@media only screen and (max-width:768px){
	

	.addedimgs ul li{
		    display: inline-block;
			margin-bottom:15px;
			    width: 100%;
    max-width: 100%;
	}
	
	
	#section3{
		margin-bottom: auto;
		 padding-top: initial;
		  min-height: auto;
	}
	
	#section4 , #section5 {
    min-height: auto;
    padding-top: initial;
    margin-bottom: auto;
	}

	#section2:before , #section3:before , #section4:before , #section5:before{
			display:none;
	}
	

body:before{

    background: url(images/servicesbgmobile.png);
	background-repeat: no-repeat;
    background-size: 100%;
	
	content: "";
    width: 100%;
   min-height: 938px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: 0px;
}


}



