@charset "utf-8";
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
/* CSS Document */

/* default */

.no-padding{ padding-right:0; padding-left:0;}
.no-pd-left{ padding-left:0;}
.no-pd-right{ padding-right:0;}
h1{font-size:20px;line-height:150%; margin:0; font-family: 'Tajawal-Bold';}
h2{font-size:18px;line-height:150%; margin:0 0 4px;font-family: 'Tajawal-Bold';}
h3{font-size:16px;line-height:150%; margin:0 0 3px;font-family: 'Tajawal-Bold';}
h4{font-size:14px;line-height:150%; margin:0 0 3px;font-family: 'Tajawal-Bold';}
a:hover, a:focus, a{ text-decoration:none;color: inherit;}
.mrg-btm-40{margin-bottom:40px;}
.mrg-btm-30{margin-bottom:30px;}
.mrg-btm-20{margin-bottom:20px;}
.mrg-btm-15{margin-bottom:15px;}
.mrg-btm-10{margin-bottom:10px;}
.mrg-btm-5{margin-bottom:5px;}
.mrg-top-5{margin-top:5px;}
.mrg-top-10{margin-top:10px;}
.mrg-top-15{margin-top:15px;}
.mrg-top-20{margin-top:20px;}
.pad-top-15{padding-top:15px;}
.pad-top-20{padding-top:20px;}
.pad-btm-15{padding-bottom:15px;}

#accordion input{
	    height: auto;
    max-height: inherit;
    min-height: 40px;
}

#noncheckedstar:hover{
	    cursor: pointer;
}

/* default for this site */
body{font-family:'Tajawal-Regular';  font-size:17px;  direction: rtl;}

#header{
	padding-top:20px;
}
#content{
	main-height:500px;
}

label, input, button, select, textarea{
	    font-size: inherit;
}

.navbar-nav>li{line-height: 0.2; margin-left: 2px; margin-right: 2px; padding-bottom: 4px;}
.navbar-nav>li>a.nav-link { text-align:center; font-family:'Tajawal-Medium';  color: #464646 !important;}
.navbar-nav>.active>a.nav-link,.navbar-nav>.active>a:focus {color: #420BAA !important; background: unset; font-family:'Tajawal-Bold';}
.navbar-nav.nav-link:hover,.navbar-nav.nav-link:focus,.navbar-nav>li:hover,.navbar-nav>li:focus,.navbar-nav>.active {border-bottom: 2px solid #420BAA !important; color: #420BAA !important;}

.bg-light{ background-color: unset !important;}

.dropdown-toggle::after{ float: right; margin-top: 18%;}
a.btn-login { background: #420BAA; font-size: 13px; padding: 4px 15px; margin-right: 10px; color: #fff; border-color: #420BAA;}

.login-opt{ font-family:'Tajawal-Regular' !important;}

footer{  padding:17px 0;   margin-top:20px; background-color:#0E0027;color: #fff;}
footer a{color: #fff !important;}
.nadsoft{background: transparent linear-gradient(106deg, #E94150 0%, #4EA9E0 100%) 0% 0% no-repeat padding-box;}
footer .social { margin-top: 5px;}
footer .social a{ background: #1875AF;
    border-radius: 50%;
    margin: 5px;
    color: #0E0027 !important;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 37px;}

.maintop .txt{ background: url('images/Mask Group 13.png') no-repeat top right; background-size: contain; padding: 5%;     display: inline-block; vertical-align: top; float: right; }
.maintop .pic{ background: url('images/Mask Group 14.png') no-repeat center; background-size: contain; padding: 8%;      position: relative; display: inline-block; vertical-align: top;}

.maintop .ar-title{ color: #420BAA; font-size: 200%; font-family:'Tajawal-Bold';     margin-bottom: 15px;}
.maintop .he-title{ color: #575757; font-size: 200%; font-family:'Tajawal-Regular';}

#searchdiv{     padding: 7%;     padding-top: 0px;     z-index: 9;
    position: relative;}
.search { border: 2px solid #420BAA; padding: 4px; border-radius: 14px;}
.search .form-control{ border: 0;}
.search .search-btn{ font-size: 10px; background: #420BAA; font-family:'Tajawal-Medium'; color: #fff; padding: 0 20px; border-radius: 11px !important; line-height: 1.3; text-align: left;}
.search .search-btn .fas{ float:right; margin-top: 5px;}

::placeholder { color: #414141; }

.title { color: #420BAA; font-family:'Tajawal-Bold'; font-size: 20px; text-align: center;}
.title .he{font-family:'Tajawal-Regular';}
.desc{ color: #707070;}
.details  { background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 12px #00000029;
border-radius: 10px;}
.details  .desc{ color: #707070; text-align:center;}
.details  .desc p{ color: #707070; text-align:center; width: 100%; max-width: 100%;  font-family: 'Tajawal-Medium';}
.details  .desc figure{ color: #707070; text-align:center; width: 100%; max-width: 100%;  font-family: 'Tajawal-Medium';}
.details  .desc h2{ color: #707070; text-align:center; width: 100%; max-width: 100%;  font-family: 'Tajawal-Medium';}
.details  #maintitle{     color: #420BAA;
    font-size: 30px;
    font-family: 'Tajawal-Bold';
    text-align: center;}
	
.details   #location{ color: #707070; font-family: 'Tajawal-Medium'; font-size: 18px;
    line-height: 20px;}	
	
.details	#phone{direction: ltr;
    padding: 10px;
    background: #DBE3FF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    color: #420BAA;
    font-family: 'Tajawal-Medium';}
	 
#mainimagepost::before{
content: "";
    background: url(images/op.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: -76px -39px;
    width: 883px;
    height: 700px;
    position: absolute;
    left: -39px;
    top: -23px;
    z-index: -1;
}


#mainimagepost img{
    max-height: 500px;
    float: none;
    margin: auto;
    display: block;
    margin-top: 11%;
}


#lightboxfancy{
	    box-shadow: 0px 0px 10px;
    border: 3px solid #420BAA;
    border-radius: 5px;
    padding: 5px;
	margin: 5px;
}

.catBlock{ 
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -1px 1px 12px #00000029;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    width: 100%;
    display: inline-block;
} 

#catshome .catBlock{ 
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -1px 1px 12px #00000029;
    border-radius: 10px;
    padding: 15px;
    min-height: 106px;
    position: relative;
    width: 100%;
    display: inline-block;
    max-height: 106px;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0px;
	
}

#catshome .imgchome{
position: absolute;
    right: 0px;
    width: 50%;
    height: 106px;
    background-size: 101%;
    background-repeat: no-repeat;
    /* padding-right: 45%; */
    background-position: center;
    /* padding: 10px; */
    float: right;
    top: 0px;
}

#catshome .catBlock:after{
 content:"";
position:absolute;
left:0px;
width:100%;
height:106px; 
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d2ecfc+0,ffffff+55,ffffff+100 */
background: #d2ecfc; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #d2ecfc 0%, #ffffff 55%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #d2ecfc 0%,#ffffff 55%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #d2ecfc 0%,#ffffff 55%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ecfc', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

.catBlock .name{  font-family:'Tajawal-Bold'; color: #031A1F; padding-right: 15px;
    padding-top: 10px;}
.catBlock .name.he{ color: #414141;font-family:'Tajawal-Regular';}
.catBlock .desc { color: #707070;     font-size: 14px;
    padding-left: 0px;}
	
	/*
.catBlock .pic {     position: absolute;
    left: 0px;
    bottom: 5px;}*/
	
.catBlock .pic{
    float: right;
    padding: 0px;
    padding-right: 121px;
    text-align: right !important;
}

#homebanners{margin-bottom: 35px;}
#maicatshome{margin-bottom: 35px;}
div#catshome {
    margin-bottom: 35px;
}
.phoneBlock{     
background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 11px 7px #00000029;
    box-shadow: 0px 1px 10px 2px #00000029;
    border-radius: 8px;
    padding-bottom: 20px;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
    text-align: center;
    position: relative;
    top: 69px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 0;
	
	    top: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 0;
    padding-top: 70px;
   }
 #directorieshome .head{ width: 100%;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    min-height: 57px;
    display: inline-block;
    /* border-top-left-radius: 0px; */
    position: absolute;
    top: 0;
    right: 8px;
    max-width: 93%;
    z-index: 1;
	box-shadow: 0px 0px 10px 2px #00000029;
	text-align:center;
	}
	
 .head .ar{ float: right; width: 100%; color: #230064; font-family:'Tajawal-Medium';}
 .head .he{ float: right; width: 100%; color: #414141; font-family:'Tajawal-Regular';}

 .head.purpile{ background: #DBE3FF;}
 .head.pink{ background: #E7D2F7;}
.head.green{ background: #CDF6F8;}
 .head.blue{ background: #D2ECFC;}
 .head.skyblue{ background: #D2ECFC 0% 0% no-repeat padding-box;}
 .head.yeloow{ background: #F7EABF 0% 0% no-repeat padding-box;}


.col-mdcustom-3:nth-child(1) .phoneBlock .mt-2:nth-child(even){background: #E7D2F7;}
.col-mdcustom-3:nth-child(2) .phoneBlock .mt-2:nth-child(even){    background: #CDF6F8;}
.col-mdcustom-3:nth-child(3) .phoneBlock .mt-2:nth-child(even){background: #D2ECFC 0% 0% no-repeat padding-box;}
.col-mdcustom-3:nth-child(4) .phoneBlock .mt-2:nth-child(even){background: #DBE3FF;}
.col-mdcustom-3:nth-child(5) .phoneBlock .mt-2:nth-child(even){background: #F7EABF 0% 0% no-repeat padding-box;}

.icon-location-arrow:before {
    content: "\f124";
	font-family: FontAwesome;
}

.col-mdcustom-3 {

max-width: 20%;
    display: inline-block;
    vertical-align: top;
	position: relative;
}

.phoneBlock .name{  color: #707070;line-height: 28px;font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;}
.phoneBlock .phone{  color: #230064;  direction: ltr; font-size: 16px;  margin-bottom: 10px;
    margin-top: 10px;}
	
.phoneBlock .location{  color: #230064;  direction: ltr; font-size: 16px;  margin-bottom: 10px;
    margin-top: 10px;
	
	background: #DBE3FF 0% 0% no-repeat padding-box;
    /* margin: 3px; */
    width: 90%;
    float: none;
    margin: auto;
    padding: 7px;
    border-radius: 3px;
  
	}
	
.phoneBlock .location a img	{
		
		position: absolute;
    width: 18px;
    top: 10px;
    margin-right: 10px;
    right: 5px;
	}
	
	/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cecece;
  border-radius: 1px;
   border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dddddd6e;
  border-radius: 1px;
   border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
	
	
.phoneBlock .link{  color: #008EE6;  direction: ltr; font-size: 16px;}
.phoneBlock .mt-2{    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 0px !important;
    display: inline-block;
    width: 100%;}

.phoneBlock .mt-2:last-child{border-bottom: 0px solid #D6D6D6;}

.sitemap { color: #fff;}
.sitemap .head{ font-family:'Tajawal-Bold'; font-size: 18px;     margin-bottom: 15px; }
.sitemap .link { color: #BABABA !important; font-size: 16px;     display: inline-block;     width: 100%; margin-top: 3px;     margin-bottom: 3px;}

.cat-title { background: url('images/Path 5696.png') no-repeat top right; background-size: 12%; color: #420BAA; font-family:'Tajawal-Bold'; font-size: 200%; }


.cat-slider .carousel-item{ float: left; margin-left: unset; }

.cat-slider .carousel-item .pic {text-align:center;}
.cat-slider .carousel-item img{ box-shadow: 0px 3px 6px #00000029; border-radius: 15px; max-height: 241px;     height: 241px;}
.cat-slider .carousel-indicators li{ background-color: #D6D6D6 ; width: 10px; height: 10px; border-radius: 50%;}
.cat-slider .carousel-indicators li.active{ background-color: #5A5A5A ;}
.cat-slider .carousel-indicators li:hover{ background-color: #5A5A5A ;}
.cat-slider .carousel-indicators{ position: unset;
position: absolute;
    top: 356px;
    left: auto;
    width: 118px;
    height: 37px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px;
    opacity: 1;
    float: left;
    margin: inherit;
    right: 69%;
	
}
#button-addon1{
    width: 130px;
    font-size: 14px;
    text-align: center;
}

.fa-search:before {
  /*  content: url(images/magnifying-glass.png); */
   content: "";
    width: 23px;
    height: 23px;
    background: transparent url(images/magnifying-glass.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: contain;
    display: block;
}

#searchinput{
	    height: 50px;
    outline: none;
    box-shadow: none;
}

.collapse.show {
    height: auto;
}

.cat-slider .catBlock{ box-shadow: -1px 1px 12px transparent; position: relative; padding: 0;border-radius: 10px;     min-height: 218px;     height:100%; overflow:hidden;}
.cat-slider .catBlock .name{color: #fff; font-size: 20px;}

.cat-slider .image { display: block; width: 100%; height: 100%; border-radius: 10px;}

.cat-slider .overlay { position: absolute; top: 0; background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.5); color: #f1f1f1; width: 100%; height: 100%; transition: .5s ease; opacity:1; color: white; font-size: 14px; padding: 40px; border-radius: 10px;}

.rating{     color: #BCBCBC;}
.rating .checked { color: #EFC94A; }

.sub-cats .card { background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: -1px 1px 12px #00000029; border-radius: 10px; border: 0;}
.sub-cats .card-header{ background: #fff; border-bottom: 0; font-family:'Tajawal-Bold'; font-size: 14px; color: #420BAA; cursor: pointer;}
.sub-cats .card-header .btn-link{ color: #420BAA;}
.sub-cats .card-header .icon{ width: 3%;     float: right;     margin-left: 20px;}

.panel-heading:after {
    font-family: 'FontAwesome';
    content: "\f078";
    float: left;
  }
  
  .fa-map-marker-alt:before {
    content: "\f3c5";
    font-size: 23px;
    line-height: 40px;
}

.carousel-control-prev {
    right: auto;
    width: 30px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 20px;
    text-align: center;
    right: 81%;
    top: 82%;
    transition: none;
}

.carousel-control-prev-icon{
	
	background: transparent url('images/back.png') 0% 0% no-repeat padding-box;
	    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg);
	background-position: center;
		 -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -webkit-filter: grayscale(100%);
         filter: gray;
         filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
 
}

.carousel-control-next-icon{
    background: transparent url(images/back.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
	background-position: center;
	 -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -webkit-filter: grayscale(100%);
         filter: gray;
         filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  
}

.carousel-control-next {
    left: 0;
    width: 30px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 20px;
    text-align: center;
    right: 65%;
    top: 82%;
    transition: none;
}

.panel-heading {
    position: relative;
  }
  .panel-heading[aria-expanded="true"]:after {
    font-family: 'FontAwesome';
    content: "\f077";
    position: absolute;
    left: 0px;

  }

div#innerbox {
    font-size: 15px;
}

.catBlock.blue{ background: #DBE3FF;
    padding-left: 0px;
    padding-right: 0px;
	    min-height: 350px;
    }
.catBlock.blue .border-bottom { border-color:  #B9B9B9 !important;}
.catBlock.blue .fas{ color: #420BAA; font-size: 16px;}

body.business{ background: url('images/op.png') no-repeat top left; background-size: 40%; background-position: 10% 0%;}

.business .details{ background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 0px 12px #00000029; border-radius: 10px; margin-top: -10%;font-family:'Tajawal-Medium';}
.business .img{ box-shadow: -1px 1px 12px #00000029; border-radius: 10px;}

.business .name{ color: #420BAA; font-size: 200%; font-family:'Tajawal-Bold';}
.business .address{ color: #707070; font-size: 120%;}
.business .address .fas{ color: #031A1F; font-size: 16px;}
.business .desc{ border-top: #00000029 solid 1px; color: #031A1F; text-align: center; font-size: 130%;}
.business .phone{ background: #DBE3FF 0% 0% no-repeat padding-box; border-radius: 10px; color: #420BAA; text-align: center; direction: ltr; font-size: 130%; padding: 15px 10px;}

.login-pg { background: url('images/modern_city.png') bottom right no-repeat; background-position-x: 96%; background-size: 60%;  margin-top:20px; font-family:'Tajawal-Medium';     min-height: 550px;}
.login-pg .r-side{ }
.login-pg .r-side .title{ color: #420BAA; font-size: 170%; font-family:'Tajawal-Bold'; }
.login-pg .r-side .desc{ color: #3E3E3E; font-size: 16px;}
.login-pg .login-form{ background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #00000029;
    border-radius: 10px;     padding-top: 75px !important;}
.login-pg .login-form .form-control { border: 1px solid #D8D8D8; border-radius: 8px;     height: 50px;}

.login-pg .login-form .btn { background: #420BAA; border-color: #420BAA;}
.login-bg ,.form-group label { color: #414141; }

.search-bg{ background: url('images/Path 6134.png') center top no-repeat; background-size: 24%;}
.search-bg .title{ }
.search-bg .form-control{ background: transparent;}


.about .intro {  background: url('images/Mask Group 11.png') no-repeat top right;
  background-size: contain; color: #420BAA;}
  .about .intro p{ margin-bottom: unset;}
.about .cat-title { background: none;}

.bgsection{      
    position: absolute;
    width: 700px;
    display: inline-block;
    height: 600px;
    left: 0%;
    top: 75%;
    background: url(images/aboutbg.png) no-repeat top left;
    background-size: contain;
    background-position: -82px 0;
	
	}
  
.bgsection:before{
    content: url(images/aboutimg.png);
    position: absolute;
    left: 48px;
    height: 200px;
    padding-top: 58px;
    top: 0%;
}
.about .started img{ width: 70%; float: left; }


.contact .intro {  background: url('images/Mask Group 12.png') no-repeat top right;
  background-size: contain; color: #420BAA;}
.contact .cat-title { background: none;}

.contact-pg1 { background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 0px 12px #00000029;
  border-radius: 10px;  font-family:'Tajawal-Medium'; float: none;     margin: auto;}
  
.contact-pg1 .info{ background: #DBE3FF 0% 0% no-repeat padding-box;
  border-radius: 0px 10px 10px 0px; }
.contact-pg1 .info .title{ color: #031A1F;  }
.contact-pg1 .info .desc{ color: #414141;}
.contact-pg1 .info .desc .fas{ color: #420BAA; font-size: 24px;}
.contact-pg1 .info .desc.num{ }
.contact-pg1 .contact-form .form-control { border: 1px solid #D8D8D8; border-radius: 8px; height: 50px;}

.btn-primary{background: #420BAA;     border-color: #420BAA;}

  .modal {
    top: 7%;
    left: 0;
    z-index: 1050;
    display: none;
    width: 600px;
    overflow: hidden !important;
    outline: 0;
    float: none;
    margin: auto;
	    height: auto;
}
.contact-pg { background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 0px 12px #00000029;
  border-radius: 10px;  font-family:'Tajawal-Medium'; float: none;     margin: auto; padding: 6%;}  
.contact-pg .info{ background: #DBE3FF 0% 0% no-repeat padding-box;
  border-radius: 0px 10px 10px 0px; }
.contact-pg .info .title{ color: #031A1F;  }
.contact-pg .info .desc{ color: #414141;}
.contact-pg .info .desc .fas{ color: #420BAA; font-size: 24px;}
.contact-pg .info .desc.num{ direction: ltr;}
.contact-pg .contact-form .form-control { border: 1px solid #D8D8D8; border-radius: 8px; height: 50px;}

#companydesc { border: 1px solid #D8D8D8; border-radius: 8px; height: 150px;     resize: none;}
#companydesche { border: 1px solid #D8D8D8; border-radius: 8px; height: 150px;     resize: none;}

.contact-pg .contact-form .phone{ direction: ltr;}
.contact-pg .contact-form .phone::placeholder{ direction: ltr;}

.contact-pg .contact-form .btn { background: #420BAA; border-color: #420BAA;}
.contact-bg ,.form-group label { color: #414141; }

.contact .intro.add {  background: url('images/Path 6134.png') no-repeat top center;
  background-size: 30%;     background-position: 50% 30%; color: #3E3E3E; text-align: center;}

.rounded-circle {
    border-radius: 50% !important;
    width: 73px;
    height: 73px;
    max-width: initial;
}

#carouselExampleCaptions{
	
	    position: relative;
    min-height: 300px;
}

#carouselExampleCaptions .carousel-inner{
	    min-height: 290px;
    position: relative;
}

#carouselExampleCaptions .carousel-indicators{
	    position: absolute;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: none;
    border-radius: 0;
    opacity: 1;
    float: none;
    margin: auto;
    right: auto;
    bottom: 0;
}

#carouselExampleCaptions .carousel-indicators li.active{
	background-color:#420BAA;
}

#carouselExampleCaptions .carousel-indicators li:hover{
	background-color:#420BAA;
}

#section1home{
	 max-height: 448px;
}
#section2home{
	margin-top: -15%;
}


#carouselExampleCaptions .name , #carouselExampleCaptions .phone , #carouselExampleCaptions .address{
		font-size:17px !important;
}

.navbar-light .navbar-toggler{
	position: absolute;
    left: 0;
    top: -42px;
}
#intrologin{
	  margin-top: 15px;   margin-right: 105px ;
}

@media only screen and (max-width:400px){
		.col-mdcustom-3  {
    max-width: 100%;
	}
	
	.sitemap .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
	}
	
	
	
	#catshome .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
	}
	
	#homebanners div{
		margin-bottom:20px;
	}
	.sitemap .row{
		
		text-align: center;
	}
	
	.sitemap .a{
		
		width: 100%;
		 max-width: 100%;
	}
	
	div#section1home{
	     max-height: initial;
		     text-align: center;
			 
			 padding: 5%

	 }
	 
	div#section2home{
		margin-top: auto;
	}
	
	.cat-slider .carousel-indicators{
		display:none;
    width: 100%;

    right: 0px;
    bottom: -41px;
    top: auto;
	}
	
	#searchdiv {
        padding: 5%;
    padding-top: 0px;
	    z-index: 9;
    position: relative;
}

a.btn-login{
	    float: none !important;
    margin: auto;
	    display: block;
}

nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}
ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	
	nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}


ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	#mainimagepost::before{
			display:none;
	}
	
	#loginareainner{
		    margin-left: auto;
    margin-right: auto;
    padding: 0px;
	}
	#intrologin{
	  margin-top: 15px;   margin-right: auto ;    margin-bottom: 15px;
}

	#catshome , #directorieshome , #loginarea{
		padding: 5%
	}
	
	footer{
		text-align: center !important;
	}
	
	footer a.pull-left{
		    width: 100%;
	}
	
	.about .intro p , #content{
		
		    text-align: justify;
	}
	
	.bgsection{
		display:none;
	}
	body {
     padding-left: 0px; 
     padding-right: 0px; 
	}
	
	.carousel-control-next , .carousel-control-prev{
		 display:none;
	}
	ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}

    .navbar-nav>li{margin-bottom: 5px;}
    
    .login-pg { background: none;
    background-size: 100%;
    padding-bottom: initial;}

    .about .started img { width: 100%;}
    .about .started {    background-size: cover; background-position: center; }

    .contact-pg.m-5 { margin: 0 !important;}
    .contact-pg .info { border-radius: 10px 10px 0px 0px;}
    .contact .add-pg.mr-5 { margin-right: 10px !important;}
    .contact .add-pg.ml-5 { margin-left: 10px !important;}
	#innerbox{
		    padding: 0px;
	}

}

@media (max-width:416px){
	#innerbox{
		    padding: 0px;
	}
	
		.col-mdcustom-3  {
    max-width: 100%;
	}
	
	.sitemap .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
	}
	
	
	
	#catshome .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
	}
	
	#homebanners div{
		margin-bottom:20px;
	}
	.sitemap .row{
		
		text-align: center;
	}
	
	.sitemap .a{
		
		width: 100%;
		 max-width: 100%;
	}
	
	div#section1home{
	     max-height: initial;
		     text-align: center;
			 
			 padding: 5%

	 }
	 
	div#section2home{
		margin-top: auto;
	}
	
	.cat-slider .carousel-indicators{
		display:none;
    width: 100%;

    right: 0px;
    bottom: -41px;
    top: auto;
	}
	
	#searchdiv {
        padding: 5%;
    padding-top: 0px;
}

a.btn-login{
	    float: none !important;
    margin: auto;
	    display: block;
}

nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}
ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	
	nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}


ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	#mainimagepost::before{
			display:none;
	}
	
	#loginareainner{
		    margin-left: auto;
    margin-right: auto;
    padding: 0px;
	}
	#intrologin{
	  margin-top: 15px;   margin-right: auto ;    margin-bottom: 15px;
}

	#catshome , #directorieshome , #loginarea{
		padding: 5%
	}
	
	footer{
		text-align: center !important;
	}
	
	footer a.pull-left{
		    width: 100%;
	}
	
	.about .intro p , #content{
		
		    text-align: justify;
	}
	
	.bgsection{
		display:none;
	}
	body {
     padding-left: 0px; 
     padding-right: 0px; 
	}
	
	.carousel-control-next , .carousel-control-prev{
		 display:none;
	}
	ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}

    .navbar-nav>li{margin-bottom: 5px;}
    .sub-cats .card-header .icon{ width: 13%;}
    .login-pg { background: none;
    background-size: 100%;
    padding-bottom: initial;}

    .about .started img { width: 100%;}
    .about .started {    background-size: cover; background-position: center; }

    .contact-pg.m-5 { margin: 0 !important;}
    .contact-pg .info { border-radius: 10px 10px 0px 0px;}
    .contact .add-pg.mr-5 { margin-right: 10px !important;}
    .contact .add-pg.ml-5 { margin-left: 10px !important;}

}


/* Extra small devices (portrait phones, less than 576px) */

@media only screen and (max-width: 576px) {
		.col-mdcustom-3  {
    max-width: 100%;
	}
	
	.sitemap .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
	}
	
	
	
	#catshome .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
	}
	
	#homebanners div{
		margin-bottom:20px;
	}
	.sitemap .row{
		
		text-align: center;
	}
	
	.sitemap .a{
		
		width: 100%;
		 max-width: 100%;
	}
	
	div#section1home{
	     max-height: initial;
		     text-align: center;
			 
			 padding: 5%

	 }
	 
	div#section2home{
		margin-top: auto;
	}
	
	.cat-slider .carousel-indicators{
		display:none;
    width: 100%;

    right: 0px;
    bottom: -41px;
    top: auto;
	}
	
	#searchdiv {
        padding: 5%;
    padding-top: 0px;
}

a.btn-login{
	    float: none !important;
    margin: auto;
	    display: block;
}

nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}
ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	
	nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}


ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	#mainimagepost::before{
			display:none;
	}
	
	#loginareainner{
		    margin-left: auto;
    margin-right: auto;
    padding: 0px;
	}
	#intrologin{
	  margin-top: 15px;   margin-right: auto ;    margin-bottom: 15px;
}

	#catshome , #directorieshome , #loginarea{
		padding: 5%
	}
	
	footer{
		text-align: center !important;
	}
	
	footer a.pull-left{
		    width: 100%;
	}
	
	.about .intro p , #content{
		
		    text-align: justify;
	}
	
	.bgsection{
		display:none;
	}
	body {
     padding-left: 0px; 
     padding-right: 0px; 
	}
	
	.carousel-control-next , .carousel-control-prev{
		 display:none;
	}
	ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}

    .navbar-nav>li{margin-bottom: 5px;}
    .sub-cats .card-header .icon{ width: 13%;}
    .login-pg { background: none;
    background-size: 100%;
    padding-bottom: initial;}

    .about .started img { width: 100%;}
    .about .started {    background-size: cover; background-position: center; }

    .contact-pg.m-5 { margin: 0 !important;}
    .contact-pg .info { border-radius: 10px 10px 0px 0px;}
    .contact .add-pg.mr-5 { margin-right: 10px !important;}
    .contact .add-pg.ml-5 { margin-left: 10px !important;}
	#innerbox{
		    padding: 0px;
	}
 }

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width:768px){
	
	#innerbox{
		    padding: 0px;
	}
		.col-mdcustom-3  {
    max-width: 100%;
	}
	
	.sitemap .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
	}
	
	
	
	#catshome .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
	}
	
	#homebanners div{
		margin-bottom:20px;
	}
	.sitemap .row{
		
		text-align: center;
	}
	
	.sitemap .a{
		
		width: 100%;
		 max-width: 100%;
	}
	
	div#section1home{
	     max-height: initial;
		     text-align: center;
			 
			 padding: 5%

	 }
	 
	div#section2home{
		margin-top: auto;
	}
	
	.cat-slider .carousel-indicators{
		display:none;
    width: 100%;

    right: 0px;
    bottom: -41px;
    top: auto;
	}
	
	#searchdiv {
        padding: 5%;
    padding-top: 0px;
}

a.btn-login{
	    float: none !important;
    margin: auto;
	    display: block;
}

nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}
ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	
	nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}


ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	#mainimagepost::before{
			display:none;
	}
	
	#loginareainner{
		    margin-left: auto;
    margin-right: auto;
    padding: 0px;
	}
	#intrologin{
	  margin-top: 15px;   margin-right: auto ;    margin-bottom: 15px;
}

	#catshome , #directorieshome , #loginarea{
		padding: 5%
	}
	
	footer{
		text-align: center !important;
	}
	
	footer a.pull-left{
		    width: 100%;
	}
	
	.about .intro p , #content{
		
		    text-align: justify;
	}
	
	.bgsection{
		display:none;
	}
	body {
     padding-left: 0px; 
     padding-right: 0px; 
	}
	
	.carousel-control-next , .carousel-control-prev{
		 display:none;
	}
	ul.navbar-nav{
		    margin: 0px;
    margin-top: 20px;
    /* box-shadow: 0px -11px 500px 10px; */
    display: inline-block;
    width: 98%;
    padding: 17px;
    margin-right: 1%;
    border-radius: 7px;
    border: 1px solid #dddd;
	}
	
	nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    width: 100%;
}

    .navbar-nav>li{margin-bottom: 5px;}
    .sub-cats .card-header .icon{ width: 13%;}
    .login-pg { background: none;
    background-size: 100%;
    padding-bottom: initial;}

    .about .started img { width: 100%;}
    .about .started {    background-size: cover; background-position: center; }

    .contact-pg.m-5 { margin: 0 !important;}
    .contact-pg .info { border-radius: 10px 10px 0px 0px;}
    .contact .add-pg.mr-5 { margin-right: 10px !important;}
    .contact .add-pg.ml-5 { margin-left: 10px !important;}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

 }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

 }
